# 数据规整方面的话题
## 时间序列以及截面对齐

In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [12]:
prices = pd.read_csv('/Users/wonderful/Desktop/stock_px.csv')
volume = pd.read_csv('/Users/wonderful/Desktop/volume.csv')

In [13]:
prices.index = prices['Unnamed: 0']

In [14]:
del prices.index.name

In [15]:
prices = prices[['AAPL', 'JNJ', 'SPX', 'XOM']].ix['2011-09-06':'2011-09-14']

In [16]:
prices

                       AAPL    JNJ      SPX    XOM
2011-09-06 00:00:00  379.74  64.64  1165.24  71.15
2011-09-07 00:00:00  383.93  65.43  1198.62  73.65
2011-09-08 00:00:00  384.14  64.95  1185.90  72.82
2011-09-09 00:00:00  377.48  63.64  1154.23  71.01
2011-09-12 00:00:00  379.94  63.59  1162.27  71.84
2011-09-13 00:00:00  384.62  63.61  1172.87  71.65

In [17]:
volume.index = volume['Unnamed: 0']
del volume.index.name
volume = volume[['AAPL', 'JNJ', 'XOM']].ix['2011-09-06':'2011-09-12']
volume

                           AAPL         JNJ         XOM
2011-09-06 00:00:00  18173500.0  15848300.0  25416300.0
2011-09-07 00:00:00  12492000.0  10759700.0  23108400.0
2011-09-08 00:00:00  14839800.0  15551500.0  22434800.0
2011-09-09 00:00:00  20171900.0  17008200.0  27969100.0

In [18]:
prices * volume

                             AAPL           JNJ  SPX           XOM
2011-09-06 00:00:00  6.901205e+09  1.024434e+09  NaN  1.808370e+09
2011-09-07 00:00:00  4.796054e+09  7.040072e+08  NaN  1.701934e+09
2011-09-08 00:00:00  5.700561e+09  1.010070e+09  NaN  1.633702e+09
2011-09-09 00:00:00  7.614489e+09  1.082402e+09  NaN  1.986086e+09
2011-09-12 00:00:00           NaN           NaN  NaN           NaN
2011-09-13 00:00:00           NaN           NaN  NaN           NaN

In [20]:
vwap = (prices * volume).sum() / volume.sum()

In [21]:
vwap

AAPL    380.837003
JNJ      64.577684
SPX            NaN
XOM      72.073105
dtype: float64

In [22]:
vwap.dropna()

AAPL    380.837003
JNJ      64.577684
XOM      72.073105
dtype: float64

In [23]:
prices.align(volume, join='inner')

(                       AAPL    JNJ    XOM
 2011-09-06 00:00:00  379.74  64.64  71.15
 2011-09-07 00:00:00  383.93  65.43  73.65
 2011-09-08 00:00:00  384.14  64.95  72.82
 2011-09-09 00:00:00  377.48  63.64  71.01,
                            AAPL         JNJ         XOM
 2011-09-06 00:00:00  18173500.0  15848300.0  25416300.0
 2011-09-07 00:00:00  12492000.0  10759700.0  23108400.0
 2011-09-08 00:00:00  14839800.0  15551500.0  22434800.0
 2011-09-09 00:00:00  20171900.0  17008200.0  27969100.0)

In [24]:
s1 = Series(range(3), index=['a', 'b', 'c'])
s2 = Series(range(4), index=['d', 'b', 'c', 'e'])
s3 = Series(range(3), index=['f', 'a', 'c'])

In [27]:
DataFrame({'one': s1,
          'two': s2,
          'three': s3})

   one  three  two
a  0.0    1.0  NaN
b  1.0    NaN  1.0
c  2.0    2.0  2.0
d  NaN    NaN  0.0
e  NaN    NaN  3.0
f  NaN    0.0  NaN

In [28]:
DataFrame({'one': s1,'two': s2,'three': s3}, 
          index=list('face'))

   one  three  two
f  NaN    0.0  NaN
a  0.0    1.0  NaN
c  2.0    2.0  2.0
e  NaN    NaN  3.0

## 频率不同的时间序列的运算

In [3]:
ts1 = Series(np.random.randn(3),
             index=pd.date_range('2012-6-13', periods=3, freq='W-WED'))

In [4]:
ts1

2012-06-13    0.843815
2012-06-20   -0.286122
2012-06-27   -0.948088
Freq: W-WED, dtype: float64

In [6]:
ts1.resample('B').mean()

2012-06-13    0.843815
2012-06-14         NaN
2012-06-15         NaN
2012-06-18         NaN
2012-06-19         NaN
2012-06-20   -0.286122
2012-06-21         NaN
2012-06-22         NaN
2012-06-25         NaN
2012-06-26         NaN
2012-06-27   -0.948088
Freq: B, dtype: float64

In [7]:
ts1.resample('B').ffill()

2012-06-13    0.843815
2012-06-14    0.843815
2012-06-15    0.843815
2012-06-18    0.843815
2012-06-19    0.843815
2012-06-20   -0.286122
2012-06-21   -0.286122
2012-06-22   -0.286122
2012-06-25   -0.286122
2012-06-26   -0.286122
2012-06-27   -0.948088
Freq: B, dtype: float64

In [9]:
dates = pd.DatetimeIndex(['2012-6-12', '2012-6-17', '2012-6-18',
                      '2012-6-21', '2012-6-22', '2012-6-29'])

In [10]:
ts2 = Series(np.random.randn(6), index=dates)

In [11]:
ts2

2012-06-12   -0.460654
2012-06-17    0.060953
2012-06-18    0.283837
2012-06-21    1.987989
2012-06-22    0.406685
2012-06-29   -2.261984
dtype: float64

In [13]:
ts1

2012-06-13    0.843815
2012-06-20   -0.286122
2012-06-27   -0.948088
Freq: W-WED, dtype: float64

In [12]:
ts1.reindex(ts2.index, method='ffill')

2012-06-12         NaN
2012-06-17    0.843815
2012-06-18    0.843815
2012-06-21   -0.286122
2012-06-22   -0.286122
2012-06-29   -0.948088
dtype: float64

In [14]:
ts2 + ts1.reindex(ts2.index, method='ffill')

2012-06-12         NaN
2012-06-17    0.904768
2012-06-18    1.127652
2012-06-21    1.701867
2012-06-22    0.120563
2012-06-29   -3.210073
dtype: float64

### 使用 Period

In [16]:
gdp = Series([1.78, 1.94, 2.08, 2.01, 2.15, 2.31, 2.46],
             index=pd.period_range('1984Q2', periods=7, freq='Q-SEP'))

In [17]:
infl = Series([0.025, 0.045, 0.037, 0.04],
              index=pd.period_range('1982', periods=4, freq='A-DEC'))

In [18]:
gdp

1984Q2    1.78
1984Q3    1.94
1984Q4    2.08
1985Q1    2.01
1985Q2    2.15
1985Q3    2.31
1985Q4    2.46
Freq: Q-SEP, dtype: float64

In [19]:
infl

1982    0.025
1983    0.045
1984    0.037
1985    0.040
Freq: A-DEC, dtype: float64

In [20]:
infl_q = infl.asfreq('Q-SEP', how='end')

In [21]:
infl_q

1983Q1    0.025
1984Q1    0.045
1985Q1    0.037
1986Q1    0.040
Freq: Q-SEP, dtype: float64

In [27]:
infl_q.reindex(gdp.index, method='ffill')

1984Q2    0.045
1984Q3    0.045
1984Q4    0.045
1985Q1    0.037
1985Q2    0.037
1985Q3    0.037
1985Q4    0.037
Freq: Q-SEP, dtype: float64

## 时间和“最当前”数据选取

In [28]:
rng = pd.date_range('2012-06-01 09:30', '2012-06-01 15:59', freq='T')

In [30]:
rng

DatetimeIndex(['2012-06-01 09:30:00', '2012-06-01 09:31:00',
               '2012-06-01 09:32:00', '2012-06-01 09:33:00',
               '2012-06-01 09:34:00', '2012-06-01 09:35:00',
               '2012-06-01 09:36:00', '2012-06-01 09:37:00',
               '2012-06-01 09:38:00', '2012-06-01 09:39:00',
               ...
               '2012-06-01 15:50:00', '2012-06-01 15:51:00',
               '2012-06-01 15:52:00', '2012-06-01 15:53:00',
               '2012-06-01 15:54:00', '2012-06-01 15:55:00',
               '2012-06-01 15:56:00', '2012-06-01 15:57:00',
               '2012-06-01 15:58:00', '2012-06-01 15:59:00'],
              dtype='datetime64[ns]', length=390, freq='T')

In [31]:
rng = rng.append([rng + pd.offsets.BDay(i) for i in range(1, 4)])

In [32]:
rng

DatetimeIndex(['2012-06-01 09:30:00', '2012-06-01 09:31:00',
               '2012-06-01 09:32:00', '2012-06-01 09:33:00',
               '2012-06-01 09:34:00', '2012-06-01 09:35:00',
               '2012-06-01 09:36:00', '2012-06-01 09:37:00',
               '2012-06-01 09:38:00', '2012-06-01 09:39:00',
               ...
               '2012-06-06 15:50:00', '2012-06-06 15:51:00',
               '2012-06-06 15:52:00', '2012-06-06 15:53:00',
               '2012-06-06 15:54:00', '2012-06-06 15:55:00',
               '2012-06-06 15:56:00', '2012-06-06 15:57:00',
               '2012-06-06 15:58:00', '2012-06-06 15:59:00'],
              dtype='datetime64[ns]', length=1560, freq=None)

In [33]:
ts = Series(np.arange(len(rng), dtype=float), index=rng)

In [34]:
ts

2012-06-01 09:30:00       0.0
2012-06-01 09:31:00       1.0
2012-06-01 09:32:00       2.0
2012-06-01 09:33:00       3.0
2012-06-01 09:34:00       4.0
2012-06-01 09:35:00       5.0
2012-06-01 09:36:00       6.0
2012-06-01 09:37:00       7.0
2012-06-01 09:38:00       8.0
2012-06-01 09:39:00       9.0
2012-06-01 09:40:00      10.0
2012-06-01 09:41:00      11.0
2012-06-01 09:42:00      12.0
2012-06-01 09:43:00      13.0
2012-06-01 09:44:00      14.0
2012-06-01 09:45:00      15.0
2012-06-01 09:46:00      16.0
2012-06-01 09:47:00      17.0
2012-06-01 09:48:00      18.0
2012-06-01 09:49:00      19.0
2012-06-01 09:50:00      20.0
2012-06-01 09:51:00      21.0
2012-06-01 09:52:00      22.0
2012-06-01 09:53:00      23.0
2012-06-01 09:54:00      24.0
2012-06-01 09:55:00      25.0
2012-06-01 09:56:00      26.0
2012-06-01 09:57:00      27.0
2012-06-01 09:58:00      28.0
2012-06-01 09:59:00      29.0
                        ...
2012-06-06 15:30:00    1530.0
2012-06-06 15:31:00    1531.0
2012-06-06 15:32:00    1532.0
2012-06-06 15:33:00    1533.0
2012-06-06 15:34:00    1534.0
2012-06-06 15:35:00    1535.0
2012-06-06 15:36:00    1536.0
2012-06-06 15:37:00    1537.0
2012-06-06 15:38:00    1538.0
2012-06-06 15:39:00    1539.0
2012-06-06 15:40:00    1540.0
2012-06-06 15:41:00    1541.0
2012-06-06 15:42:00    1542.0
2012-06-06 15:43:00    1543.0
2012-06-06 15:44:00    1544.0
2012-06-06 15:45:00    1545.0
2012-06-06 15:46:00    1546.0
2012-06-06 15:47:00    1547.0
2012-06-06 15:48:00    1548.0
2012-06-06 15:49:00    1549.0
2012-06-06 15:50:00    1550.0
2012-06-06 15:51:00    1551.0
2012-06-06 15:52:00    1552.0
2012-06-06 15:53:00    1553.0
2012-06-06 15:54:00    1554.0
2012-06-06 15:55:00    1555.0
2012-06-06 15:56:00    1556.0
2012-06-06 15:57:00    1557.0
2012-06-06 15:58:00    1558.0
2012-06-06 15:59:00    1559.0
dtype: float64

In [35]:
from datetime import time

In [36]:
ts[time(10, 0)]

2012-06-01 10:00:00      30.0
2012-06-04 10:00:00     420.0
2012-06-05 10:00:00     810.0
2012-06-06 10:00:00    1200.0
dtype: float64

In [37]:
ts.at_time(time(10, 0))

2012-06-01 10:00:00      30.0
2012-06-04 10:00:00     420.0
2012-06-05 10:00:00     810.0
2012-06-06 10:00:00    1200.0
dtype: float64

In [40]:
ts[time(10, 59)]

2012-06-01 10:59:00      89.0
2012-06-04 10:59:00     479.0
2012-06-05 10:59:00     869.0
2012-06-06 10:59:00    1259.0
dtype: float64

In [41]:
ts.between_time(time(10, 0), time(10, 1))

2012-06-01 10:00:00      30.0
2012-06-01 10:01:00      31.0
2012-06-04 10:00:00     420.0
2012-06-04 10:01:00     421.0
2012-06-05 10:00:00     810.0
2012-06-05 10:01:00     811.0
2012-06-06 10:00:00    1200.0
2012-06-06 10:01:00    1201.0
dtype: float64

In [43]:
indexer = np.sort(np.random.permutation(len(ts))[700:])

In [45]:
indexer

array([   0,    1,    4,    6,    9,   11,   12,   13,   14,   17,   18,
         19,   20,   23,   26,   27,   29,   32,   33,   36,   38,   40,
         41,   44,   46,   48,   50,   51,   53,   55,   59,   63,   64,
         65,   67,   69,   71,   74,   76,   77,   78,   79,   82,   83,
         84,   85,   86,   87,   90,   94,   95,   96,   97,   99,  101,
        103,  104,  105,  107,  109,  110,  114,  115,  118,  120,  121,
        122,  124,  127,  128,  129,  130,  133,  135,  137,  138,  140,
        142,  143,  144,  145,  146,  148,  150,  152,  154,  155,  156,
        157,  160,  161,  165,  168,  169,  170,  171,  173,  174,  177,
        178,  179,  180,  181,  183,  184,  189,  193,  195,  198,  199,
        200,  201,  203,  205,  206,  208,  209,  211,  212,  213,  214,
        218,  220,  221,  222,  223,  224,  225,  226,  228,  229,  231,
        232,  235,  236,  237,  241,  245,  247,  249,  250,  251,  252,
        253,  255,  256,  257,  259,  262,  263,  265,  266,  267,  270,
        271,  273,  277,  278,  279,  286,  287,  288,  290,  291,  293,
        294,  296,  297,  300,  302,  303,  304,  307,  310,  314,  317,
        319,  321,  323,  328,  329,  331,  333,  334,  336,  339,  340,
        343,  344,  345,  347,  352,  354,  355,  356,  357,  358,  359,
        366,  367,  368,  369,  370,  373,  377,  378,  379,  380,  382,
        383,  389,  390,  392,  393,  394,  395,  396,  398,  399,  400,
        403,  404,  406,  407,  409,  411,  413,  414,  415,  416,  417,
        418,  420,  421,  422,  423,  424,  425,  427,  428,  429,  433,
        434,  435,  436,  437,  443,  445,  446,  447,  448,  450,  451,
        452,  453,  454,  455,  457,  458,  459,  460,  461,  463,  466,
        467,  469,  470,  471,  472,  475,  476,  477,  480,  482,  483,
        484,  485,  487,  488,  490,  493,  494,  495,  496,  497,  499,
        500,  502,  506,  507,  508,  510,  511,  512,  519,  521,  523,
        527,  528,  529,  531,  532,  534,  535,  536,  540,  541,  542,
        545,  546,  547,  550,  551,  552,  553,  556,  557,  559,  562,
        563,  564,  565,  567,  570,  572,  573,  575,  578,  581,  582,
        584,  586,  587,  589,  591,  594,  596,  601,  602,  605,  606,
        607,  612,  613,  614,  615,  616,  620,  621,  622,  624,  627,
        629,  631,  632,  634,  637,  639,  641,  642,  643,  646,  647,
        648,  649,  650,  652,  658,  659,  661,  662,  663,  664,  668,
        670,  671,  673,  674,  675,  677,  680,  683,  686,  688,  689,
        690,  692,  693,  694,  697,  699,  701,  702,  703,  704,  709,
        711,  712,  713,  714,  716,  717,  718,  719,  721,  722,  724,
        725,  726,  729,  730,  732,  734,  735,  738,  740,  742,  743,
        744,  745,  746,  747,  754,  756,  757,  758,  760,  763,  764,
        767,  768,  769,  772,  774,  775,  776,  777,  778,  780,  782,
        784,  785,  790,  791,  792,  793,  794,  795,  796,  797,  798,
        799,  800,  801,  802,  803,  804,  805,  807,  808,  811,  813,
        814,  815,  817,  818,  823,  824,  825,  826,  831,  837,  838,
        839,  844,  845,  846,  847,  849,  853,  854,  855,  856,  857,
        864,  865,  866,  868,  870,  871,  873,  875,  877,  878,  879,
        882,  884,  893,  895,  897,  899,  903,  914,  915,  918,  919,
        921,  922,  923,  924,  925,  926,  927,  929,  930,  932,  933,
        935,  936,  937,  938,  940,  942,  943,  946,  948,  952,  953,
        954,  956,  957,  959,  960,  963,  966,  968,  971,  973,  975,
        976,  980,  982,  984,  985,  988,  989,  991,  992,  996,  998,
        999, 1004, 1005, 1006, 1007, 1008, 1009, 1012, 1015, 1017, 1018,
       1025, 1026, 1027, 1029, 1030, 1032, 1034, 1036, 1037, 1039, 1040,
       1041, 1042, 1043, 1044, 1045, 1046, 1048, 1049, 1050, 1056, 1058,
       1059, 1060, 1061, 1062, 1063, 1065, 1066, 1068, 1070, 1071, 1073,
       1077, 1078, 1079, 1081, 1083, 1089, 1090, 1092, 1093, 1097, 1098,
       1101, 1102, 1103, 1105, 1107, 1109, 1110, 1111, 1113, 1117, 1121,
       1123, 1125, 1126, 1129, 1137, 1138, 1139, 1141, 1142, 1146, 1148,
       1149, 1150, 1151, 1152, 1153, 1154, 1156, 1157, 1158, 1159, 1161,
       1165, 1166, 1169, 1171, 1172, 1173, 1174, 1175, 1176, 1177, 1180,
       1181, 1182, 1183, 1185, 1188, 1190, 1191, 1194, 1195, 1198, 1199,
       1200, 1201, 1202, 1203, 1204, 1206, 1208, 1209, 1210, 1212, 1216,
       1217, 1219, 1220, 1221, 1222, 1226, 1227, 1228, 1229, 1231, 1232,
       1234, 1235, 1238, 1242, 1244, 1247, 1248, 1250, 1254, 1255, 1257,
       1259, 1260, 1261, 1262, 1264, 1265, 1266, 1267, 1268, 1270, 1271,
       1275, 1277, 1278, 1280, 1283, 1284, 1285, 1287, 1288, 1289, 1292,
       1293, 1294, 1300, 1301, 1302, 1303, 1305, 1307, 1309, 1310, 1311,
       1312, 1314, 1315, 1317, 1320, 1321, 1322, 1324, 1326, 1327, 1329,
       1331, 1333, 1334, 1335, 1339, 1341, 1343, 1344, 1345, 1346, 1347,
       1350, 1351, 1352, 1354, 1355, 1358, 1359, 1361, 1362, 1363, 1366,
       1367, 1369, 1370, 1372, 1373, 1376, 1381, 1382, 1385, 1387, 1390,
       1394, 1395, 1396, 1398, 1402, 1403, 1404, 1406, 1408, 1409, 1410,
       1412, 1416, 1417, 1418, 1423, 1426, 1427, 1428, 1431, 1434, 1436,
       1438, 1439, 1442, 1443, 1444, 1445, 1446, 1449, 1450, 1456, 1458,
       1460, 1461, 1462, 1463, 1464, 1465, 1467, 1469, 1470, 1471, 1472,
       1475, 1477, 1478, 1480, 1485, 1487, 1488, 1489, 1490, 1491, 1492,
       1493, 1495, 1496, 1497, 1501, 1502, 1505, 1510, 1514, 1519, 1523,
       1524, 1525, 1526, 1530, 1531, 1533, 1534, 1535, 1537, 1539, 1540,
       1541, 1542, 1544, 1546, 1547, 1551, 1553, 1554, 1555, 1556, 1557,
       1558, 1559])

In [46]:
irr_ts = ts.copy()

In [47]:
irr_ts[indexer] = np.nan

In [49]:
irr_ts

2012-06-01 09:30:00       NaN
2012-06-01 09:31:00       NaN
2012-06-01 09:32:00       2.0
2012-06-01 09:33:00       3.0
2012-06-01 09:34:00       NaN
2012-06-01 09:35:00       5.0
2012-06-01 09:36:00       NaN
2012-06-01 09:37:00       7.0
2012-06-01 09:38:00       8.0
2012-06-01 09:39:00       NaN
2012-06-01 09:40:00      10.0
2012-06-01 09:41:00       NaN
2012-06-01 09:42:00       NaN
2012-06-01 09:43:00       NaN
2012-06-01 09:44:00       NaN
2012-06-01 09:45:00      15.0
2012-06-01 09:46:00      16.0
2012-06-01 09:47:00       NaN
2012-06-01 09:48:00       NaN
2012-06-01 09:49:00       NaN
2012-06-01 09:50:00       NaN
2012-06-01 09:51:00      21.0
2012-06-01 09:52:00      22.0
2012-06-01 09:53:00       NaN
2012-06-01 09:54:00      24.0
2012-06-01 09:55:00      25.0
2012-06-01 09:56:00       NaN
2012-06-01 09:57:00       NaN
2012-06-01 09:58:00      28.0
2012-06-01 09:59:00       NaN
                        ...
2012-06-06 15:30:00       NaN
2012-06-06 15:31:00       NaN
2012-06-06 15:32:00    1532.0
2012-06-06 15:33:00       NaN
2012-06-06 15:34:00       NaN
2012-06-06 15:35:00       NaN
2012-06-06 15:36:00    1536.0
2012-06-06 15:37:00       NaN
2012-06-06 15:38:00    1538.0
2012-06-06 15:39:00       NaN
2012-06-06 15:40:00       NaN
2012-06-06 15:41:00       NaN
2012-06-06 15:42:00       NaN
2012-06-06 15:43:00    1543.0
2012-06-06 15:44:00       NaN
2012-06-06 15:45:00    1545.0
2012-06-06 15:46:00       NaN
2012-06-06 15:47:00       NaN
2012-06-06 15:48:00    1548.0
2012-06-06 15:49:00    1549.0
2012-06-06 15:50:00    1550.0
2012-06-06 15:51:00       NaN
2012-06-06 15:52:00    1552.0
2012-06-06 15:53:00       NaN
2012-06-06 15:54:00       NaN
2012-06-06 15:55:00       NaN
2012-06-06 15:56:00       NaN
2012-06-06 15:57:00       NaN
2012-06-06 15:58:00       NaN
2012-06-06 15:59:00       NaN
dtype: float64

In [50]:
irr_ts['2012-06-01 09:50':'2012-06-01 10:00']

2012-06-01 09:50:00     NaN
2012-06-01 09:51:00    21.0
2012-06-01 09:52:00    22.0
2012-06-01 09:53:00     NaN
2012-06-01 09:54:00    24.0
2012-06-01 09:55:00    25.0
2012-06-01 09:56:00     NaN
2012-06-01 09:57:00     NaN
2012-06-01 09:58:00    28.0
2012-06-01 09:59:00     NaN
2012-06-01 10:00:00    30.0
dtype: float64

In [51]:
selection = pd.date_range('2012-06-01 10:00', periods=4, freq='B')

In [52]:
selection

DatetimeIndex(['2012-06-01 10:00:00', '2012-06-04 10:00:00',
               '2012-06-05 10:00:00', '2012-06-06 10:00:00'],
              dtype='datetime64[ns]', freq='B')

In [54]:
irr_ts.asof(selection)

2012-06-01 10:00:00      30.0
2012-06-04 10:00:00     419.0
2012-06-05 10:00:00     810.0
2012-06-06 10:00:00    1197.0
Freq: B, dtype: float64

## 拼接多个数据源

In [59]:
data1 = DataFrame(np.ones((6, 3), dtype=float),
                  columns=['a', 'b', 'c'],
                  index=pd.date_range('06/12/2012', periods=6))

In [60]:
data2 = DataFrame(np.ones((6, 3), dtype=float) * 2,
                  columns=['a', 'b', 'c'],
                  index=pd.date_range('06/13/2012', periods=6))

In [61]:
data1

              a    b    c
2012-06-12  1.0  1.0  1.0
2012-06-13  1.0  1.0  1.0
2012-06-14  1.0  1.0  1.0
2012-06-15  1.0  1.0  1.0
2012-06-16  1.0  1.0  1.0
2012-06-17  1.0  1.0  1.0

In [62]:
data2

              a    b    c
2012-06-13  2.0  2.0  2.0
2012-06-14  2.0  2.0  2.0
2012-06-15  2.0  2.0  2.0
2012-06-16  2.0  2.0  2.0
2012-06-17  2.0  2.0  2.0
2012-06-18  2.0  2.0  2.0

In [63]:
spliced = pd.concat([data1.ix[:'2012-06-14'], data2.ix['2012-06-15':]])

In [64]:
spliced

              a    b    c
2012-06-12  1.0  1.0  1.0
2012-06-13  1.0  1.0  1.0
2012-06-14  1.0  1.0  1.0
2012-06-15  2.0  2.0  2.0
2012-06-16  2.0  2.0  2.0
2012-06-17  2.0  2.0  2.0
2012-06-18  2.0  2.0  2.0

In [66]:
data2 = DataFrame(np.ones((6, 4), dtype=float) * 2,
                  columns=['a', 'b', 'c', 'd'],
                  index=pd.date_range('06/13/2012', periods=6))

In [67]:
spliced = pd.concat([data1.ix[:'2012-06-14'], data2.ix['2012-06-15':]])

In [68]:
spliced

              a    b    c    d
2012-06-12  1.0  1.0  1.0  NaN
2012-06-13  1.0  1.0  1.0  NaN
2012-06-14  1.0  1.0  1.0  NaN
2012-06-15  2.0  2.0  2.0  2.0
2012-06-16  2.0  2.0  2.0  2.0
2012-06-17  2.0  2.0  2.0  2.0
2012-06-18  2.0  2.0  2.0  2.0

In [69]:
spliced_filled = spliced.combine_first(data2)

In [70]:
spliced_filled

              a    b    c    d
2012-06-12  1.0  1.0  1.0  NaN
2012-06-13  1.0  1.0  1.0  2.0
2012-06-14  1.0  1.0  1.0  2.0
2012-06-15  2.0  2.0  2.0  2.0
2012-06-16  2.0  2.0  2.0  2.0
2012-06-17  2.0  2.0  2.0  2.0
2012-06-18  2.0  2.0  2.0  2.0

In [71]:
spliced

              a    b    c    d
2012-06-12  1.0  1.0  1.0  NaN
2012-06-13  1.0  1.0  1.0  NaN
2012-06-14  1.0  1.0  1.0  NaN
2012-06-15  2.0  2.0  2.0  2.0
2012-06-16  2.0  2.0  2.0  2.0
2012-06-17  2.0  2.0  2.0  2.0
2012-06-18  2.0  2.0  2.0  2.0

In [73]:
spliced.update(data2, overwrite=True)

In [74]:
spliced

              a    b    c    d
2012-06-12  1.0  1.0  1.0  NaN
2012-06-13  2.0  2.0  2.0  2.0
2012-06-14  2.0  2.0  2.0  2.0
2012-06-15  2.0  2.0  2.0  2.0
2012-06-16  2.0  2.0  2.0  2.0
2012-06-17  2.0  2.0  2.0  2.0
2012-06-18  2.0  2.0  2.0  2.0

In [79]:
test = pd.concat([data1.ix[:'2012-06-14'], data2.ix['2012-06-15':]])
test

              a    b    c    d
2012-06-12  1.0  1.0  1.0  NaN
2012-06-13  1.0  1.0  1.0  NaN
2012-06-14  1.0  1.0  1.0  NaN
2012-06-15  2.0  2.0  2.0  2.0
2012-06-16  2.0  2.0  2.0  2.0
2012-06-17  2.0  2.0  2.0  2.0
2012-06-18  2.0  2.0  2.0  2.0

In [82]:
test.update(data2, overwrite=False)

In [83]:
test

              a    b    c    d
2012-06-12  1.0  1.0  1.0  NaN
2012-06-13  1.0  1.0  1.0  2.0
2012-06-14  1.0  1.0  1.0  2.0
2012-06-15  2.0  2.0  2.0  2.0
2012-06-16  2.0  2.0  2.0  2.0
2012-06-17  2.0  2.0  2.0  2.0
2012-06-18  2.0  2.0  2.0  2.0

In [88]:
cp_spliced = spliced.copy()
cp_spliced[['a', 'c']] = data1[['a', 'c']]

In [89]:
cp_spliced

              a    b    c    d
2012-06-12  1.0  1.0  1.0  NaN
2012-06-13  1.0  2.0  1.0  2.0
2012-06-14  1.0  2.0  1.0  2.0
2012-06-15  1.0  2.0  1.0  2.0
2012-06-16  1.0  2.0  1.0  2.0
2012-06-17  1.0  2.0  1.0  2.0
2012-06-18  NaN  2.0  NaN  2.0

## 收益指数和累计收益

In [110]:
import tushare as ts
data = ts.get_k_data('000001', start='2011-01-01', end='2012-07-27')

In [147]:
data.index = pd.DatetimeIndex(data['date'])

In [148]:
price = data['close']

In [149]:
price[-5:]

date
2012-07-23    5.001
2012-07-24    4.998
2012-07-25    4.944
2012-07-26    4.947
2012-07-27    4.981
Name: close, dtype: float64

In [150]:
type(price.index)

pandas.tseries.index.DatetimeIndex

In [151]:
price['2012-01-04'] / price['2011-01-04'] - 1

-0.053604436229205188

In [152]:
returns = price.pct_change()

In [153]:
ret_index = (1 + returns).cumprod()

In [154]:
ret_index[0] = 1

In [155]:
ret_index

date
2011-01-04    1.000000
2011-01-05    0.994455
2011-01-06    0.986876
2011-01-07    1.024399
2011-01-10    0.997412
2011-01-11    1.010536
2011-01-12    1.023660
2011-01-13    1.019963
2011-01-14    0.998152
2011-01-17    0.960074
2011-01-18    0.957486
2011-01-19    0.966913
2011-01-20    0.931238
2011-01-21    0.945656
2011-01-24    0.939372
2011-01-25    0.946950
2011-01-26    0.952495
2011-01-27    0.956932
2011-01-28    0.948799
2011-01-31    0.955638
2011-02-01    0.963771
2011-02-09    0.951941
2011-02-10    0.964325
2011-02-11    0.967468
2011-02-14    0.998706
2011-02-15    0.987431
2011-02-16    0.991312
2011-02-17    0.997412
2011-02-18    0.997412
2011-02-21    0.996858
                ...
2012-06-15    0.946396
2012-06-18    0.949353
2012-06-19    0.951941
2012-06-20    0.950647
2012-06-21    0.930129
2012-06-25    0.921996
2012-06-26    0.930129
2012-06-27    0.927542
2012-06-28    0.919409
2012-06-29    0.946396
2012-07-02    0.945656
2012-07-03    0.944362
2012-07-04    0.953789
2012-07-05    0.948244
2012-07-06    0.945102
2012-07-09    0.918299
2012-07-10    0.930684
2012-07-11    0.927542
2012-07-12    0.928835
2012-07-13    0.935120
2012-07-16    0.926987
2012-07-17    0.938262
2012-07-18    0.936969
2012-07-19    0.937523
2012-07-20    0.926987
2012-07-23    0.924399
2012-07-24    0.923845
2012-07-25    0.913863
2012-07-26    0.914418
2012-07-27    0.920702
Name: close, dtype: float64

In [160]:
m_returns = ret_index.resample('BM').last().pct_change()

In [161]:
m_returns['2012']

date
2012-01-31    0.067236
2012-02-29    0.027763
2012-03-30   -0.081385
2012-04-30    0.054100
2012-05-31   -0.052575
2012-06-29   -0.033598
2012-07-31   -0.027148
Freq: BM, Name: close, dtype: float64

In [162]:
m_rets = (1 + returns).resample('M', kind='period').prod() - 1

In [163]:
m_rets

date
2011-01   -0.044362
2011-02    0.040619
2011-03    0.009294
2011-04    0.131860
2011-05   -0.029613
2011-06   -0.033367
2011-07    0.015785
2011-08   -0.028347
2011-09   -0.047979
2011-10    0.052243
2011-11   -0.081053
2011-12    0.005155
2012-01    0.067236
2012-02    0.027763
2012-03   -0.081385
2012-04    0.054100
2012-05   -0.052575
2012-06   -0.033598
2012-07   -0.027148
Freq: M, Name: close, dtype: float64

    returns[dividend_dates] += dividend_pcts