# 数据转换
## 移除重复数据

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
data = DataFrame({'k1': ['one'] * 3 + ['two'] * 4,
                'k2': [1, 1, 2, 3, 3, 4, 4]})

In [3]:
data

    k1  k2
0  one   1
1  one   1
2  one   2
3  two   3
4  two   3
5  two   4
6  two   4

In [4]:
data.duplicated()

0    False
1     True
2    False
3    False
4     True
5    False
6     True
dtype: bool

In [5]:
data.drop_duplicates()

    k1  k2
0  one   1
2  one   2
3  two   3
5  two   4

In [6]:
data['va'] = range(7)

In [7]:
data

    k1  k2  va
0  one   1   0
1  one   1   1
2  one   2   2
3  two   3   3
4  two   3   4
5  two   4   5
6  two   4   6

In [8]:
data.drop_duplicates(['k1'])

    k1  k2  va
0  one   1   0
3  two   3   3

In [9]:
data.drop_duplicates(['k1', 'k2'], keep='last')

    k1  k2  va
1  one   1   1
2  one   2   2
4  two   3   4
6  two   4   6

In [10]:
help(data.drop_duplicates)

Help on method drop_duplicates in module pandas.core.frame:

drop_duplicates(subset=None, keep='first', inplace=False) method of pandas.core.frame.DataFrame instance
    Return DataFrame with duplicate rows removed, optionally only
    considering certain columns

    Parameters
    ----------
    subset : column label or sequence of labels, optional
        Only consider certain columns for identifying duplicates, by
        default use all of the columns
    keep : {'first', 'last', False}, default 'first'
        - ``first`` : Drop duplicates except for the first occurrence.
        - ``last`` : Drop duplicates except for the last occurrence.
        - False : Drop all duplicates.
    take_last : deprecated
    inplace : boolean, default False
        Whether to drop duplicates in place or to return a copy

    Returns
    -------
    deduplicated : DataFrame

In [11]:
data.drop_duplicates(['k1', 'k2'], keep=False)

    k1  k2  va
2  one   2   2

In [12]:
data

    k1  k2  va
0  one   1   0
1  one   1   1
2  one   2   2
3  two   3   3
4  two   3   4
5  two   4   5
6  two   4   6

## 利用函数或映射进行数据转换

In [13]:
data = DataFrame({'food': ['bacon', 'pulled pork', 'bacon', 'Pastrami',
                          'forned beef', 'Bacon', 'pastrami', 'honey ham',
                          'nova lox'],
                 'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})

In [14]:
data

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  forned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

In [15]:
meat_to_animal = {
    'bacon': 'pig',
    'pulled pork': 'cow',
    'pastrami': 'cow',
    'honey ham': 'pig',
    'nova lox': 'salmon'
}

In [16]:
data['animal'] = data['food'].map(str.lower).map(meat_to_animal)

In [17]:
data

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     cow
2        bacon    12.0     pig
3     Pastrami     6.0     cow
4  forned beef     7.5     NaN
5        Bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

In [18]:
data['food'].map(lambda x: meat_to_animal[x.lower()])
# why？

KeyError: 'forned beef'

## 替换值

In [19]:
data = Series([1., -999., 2., -999., -1000., 3.])

In [20]:
data

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
dtype: float64

In [21]:
data.replace(-999, np.nan)

0       1.0
1       NaN
2       2.0
3       NaN
4   -1000.0
5       3.0
dtype: float64

In [22]:
data.replace([-999, -1000], np.nan)

0    1.0
1    NaN
2    2.0
3    NaN
4    NaN
5    3.0
dtype: float64

In [23]:
data.replace([-999, -1000], [np.nan, 0])

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

In [24]:
data.replace({-999: np.nan, -1000: 0})

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

## 重命名轴索引

In [25]:
data = DataFrame(np.arange(12).reshape((3, 4)),
                index=['Ohio', 'Colorado', 'New York'],
                columns=['one', 'two', 'three', 'four'])

In [26]:
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

In [27]:
data.index.map(str.upper)

array(['OHIO', 'COLORADO', 'NEW YORK'], dtype=object)

In [28]:
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

In [29]:
data.index = data.index.map(str.upper)

In [30]:
data

          one  two  three  four
OHIO        0    1      2     3
COLORADO    4    5      6     7
NEW YORK    8    9     10    11

In [31]:
data.rename(index=str.title, columns=str.upper)

          ONE  TWO  THREE  FOUR
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

In [32]:
data

          one  two  three  four
OHIO        0    1      2     3
COLORADO    4    5      6     7
NEW YORK    8    9     10    11

In [33]:
data.rename(index={'OHIO': 'INDIANA'},
           columns={'three': 'peekaboo'})

          one  two  peekaboo  four
INDIANA     0    1         2     3
COLORADO    4    5         6     7
NEW YORK    8    9        10    11

In [34]:
_ = data.rename(index={'OHIO': 'INDIANA'},
               inplace=True)

In [35]:
data

          one  two  three  four
INDIANA     0    1      2     3
COLORADO    4    5      6     7
NEW YORK    8    9     10    11

## 离散化和面元划分

In [36]:
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]

In [37]:
bins = [18, 25, 35, 60, 100]

In [38]:
cats = pd.cut(ages, bins)

In [39]:
cats

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, object): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

In [40]:
type(cats)

pandas.core.categorical.Categorical

In [41]:
cats.codes

array([0, 0, 0, 1, 0, 0, 2, 1, 3, 2, 2, 1], dtype=int8)

In [42]:
help(cats)

Help on Categorical in module pandas.core.categorical object:

class Categorical(pandas.core.base.PandasObject)
 |  Represents a categorical variable in classic R / S-plus fashion
 |
 |  `Categoricals` can only take on only a limited, and usually fixed, number
 |  of possible values (`categories`). In contrast to statistical categorical
 |  variables, a `Categorical` might have an order, but numerical operations
 |  (additions, divisions, ...) are not possible.
 |
 |  All values of the `Categorical` are either in `categories` or `np.nan`.
 |  Assigning values outside of `categories` will raise a `ValueError`. Order
 |  is defined by the order of the `categories`, not lexical order of the
 |  values.
 |
 |  Parameters
 |  ----------
 |  values : list-like
 |      The values of the categorical. If categories are given, values not in
 |      categories will be replaced with NaN.
 |  categories : Index-like (unique), optional
 |      The unique categories for this categorical. If not given, the
 |      categories are assumed to be the unique values of values.
 |  ordered : boolean, (default False)
 |      Whether or not this categorical is treated as a ordered categorical.
 |      If not given, the resulting categorical will not be ordered.
 |
 |  Attributes
 |  ----------
 |  categories : Index
 |      The categories of this categorical
 |  codes : ndarray
 |      The codes (integer positions, which point to the categories) of this
 |      categorical, read only.
 |  ordered : boolean
 |      Whether or not this Categorical is ordered.
 |
 |  Raises
 |  ------
 |  ValueError
 |      If the categories do not validate.
 |  TypeError
 |      If an explicit ``ordered=True`` is given but no `categories` and the
 |      `values` are not sortable.
 |
 |
 |  Examples
 |  --------
 |  >>> from pandas import Categorical
 |  >>> Categorical([1, 2, 3, 1, 2, 3])
 |  [1, 2, 3, 1, 2, 3]
 |  Categories (3, int64): [1 < 2 < 3]
 |
 |  >>> Categorical(['a', 'b', 'c', 'a', 'b', 'c'])
 |  [a, b, c, a, b, c]
 |  Categories (3, object): [a < b < c]
 |
 |  >>> a = Categorical(['a','b','c','a','b','c'], ['c', 'b', 'a'],
 |                      ordered=True)
 |  >>> a.min()
 |  'c'
 |
 |  Method resolution order:
 |      Categorical
 |      pandas.core.base.PandasObject
 |      pandas.core.base.StringMixin
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __array__(self, dtype=None)
 |      The numpy array interface.
 |
 |      Returns
 |      -------
 |      values : numpy array
 |          A numpy array of either the specified dtype or,
 |          if dtype==None (default), the same dtype as
 |          categorical.categories.dtype
 |
 |  __eq__(self, other)
 |
 |  __ge__(self, other)
 |
 |  __getitem__(self, key)
 |      Return an item.
 |
 |  __gt__(self, other)
 |
 |  __init__(self, values, categories=None, ordered=False, name=None, fastpath=False)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self)
 |      Returns an Iterator over the values of this Categorical.
 |
 |  __le__(self, other)
 |
 |  __len__(self)
 |      The length of this Categorical.
 |
 |  __lt__(self, other)
 |
 |  __ne__(self, other)
 |
 |  __setitem__(self, key, value)
 |      Item assignment.
 |
 |
 |      Raises
 |      ------
 |      ValueError
 |          If (one or more) Value is not in categories or if a assigned
 |          `Categorical` does not have the same categories
 |
 |  __setstate__(self, state)
 |      Necessary for making this object picklable
 |
 |  __unicode__(self)
 |      Unicode representation.
 |
 |  add_categories(self, new_categories, inplace=False)
 |      Add new categories.
 |
 |      `new_categories` will be included at the last/highest place in the
 |      categories and will be unused directly after this call.
 |
 |      Raises
 |      ------
 |      ValueError
 |          If the new categories include old categories or do not validate as
 |          categories
 |
 |      Parameters
 |      ----------
 |      new_categories : category or list-like of category
 |         The new categories to be included.
 |      inplace : boolean (default: False)
 |         Whether or not to add the categories inplace or return a copy of
 |         this categorical with added categories.
 |
 |      Returns
 |      -------
 |      cat : Categorical with new categories added or None if inplace.
 |
 |      See also
 |      --------
 |      rename_categories
 |      reorder_categories
 |      remove_categories
 |      remove_unused_categories
 |      set_categories
 |
 |  argsort(self, ascending=True, *args, **kwargs)
 |      Returns the indices that would sort the Categorical instance if
 |      'sort_values' was called. This function is implemented to provide
 |      compatibility with numpy ndarray objects.
 |
 |      While an ordering is applied to the category values, arg-sorting
 |      in this context refers more to organizing and grouping together
 |      based on matching category values. Thus, this function can be
 |      called on an unordered Categorical instance unlike the functions
 |      'Categorical.min' and 'Categorical.max'.
 |
 |      Returns
 |      -------
 |      argsorted : numpy array
 |
 |      See also
 |      --------
 |      numpy.ndarray.argsort
 |
 |  as_ordered(self, inplace=False)
 |      Sets the Categorical to be ordered
 |
 |      Parameters
 |      ----------
 |      inplace : boolean (default: False)
 |         Whether or not to set the ordered attribute inplace or return a copy
 |         of this categorical with ordered set to True
 |
 |  as_unordered(self, inplace=False)
 |      Sets the Categorical to be unordered
 |
 |      Parameters
 |      ----------
 |      inplace : boolean (default: False)
 |         Whether or not to set the ordered attribute inplace or return a copy
 |         of this categorical with ordered set to False
 |
 |  astype(self, dtype, copy=True)
 |      Coerce this type to another dtype
 |
 |      Parameters
 |      ----------
 |      dtype : numpy dtype or pandas type
 |      copy : bool, default True
 |          By default, astype always returns a newly allocated object.
 |          If copy is set to False and dtype is categorical, the original
 |          object is returned.
 |
 |          .. versionadded:: 0.19.0
 |
 |  check_for_ordered(self, op)
 |      assert that we are ordered
 |
 |  copy(self)
 |      Copy constructor.
 |
 |  describe(self)
 |      Describes this Categorical
 |
 |      Returns
 |      -------
 |      description: `DataFrame`
 |          A dataframe with frequency and counts by category.
 |
 |  dropna(self)
 |      Return the Categorical without null values.
 |
 |      Both missing values (-1 in .codes) and NA as a category are detected.
 |      NA is removed from the categories if present.
 |
 |      Returns
 |      -------
 |      valid : Categorical
 |
 |  equals(self, other)
 |      Returns True if categorical arrays are equal.
 |
 |      Parameters
 |      ----------
 |      other : `Categorical`
 |
 |      Returns
 |      -------
 |      are_equal : boolean
 |
 |  fillna(self, value=None, method=None, limit=None)
 |      Fill NA/NaN values using the specified method.
 |
 |      Parameters
 |      ----------
 |      method : {'backfill', 'bfill', 'pad', 'ffill', None}, default None
 |          Method to use for filling holes in reindexed Series
 |          pad / ffill: propagate last valid observation forward to next valid
 |          backfill / bfill: use NEXT valid observation to fill gap
 |      value : scalar
 |          Value to use to fill holes (e.g. 0)
 |      limit : int, default None
 |          (Not implemented yet for Categorical!)
 |          If method is specified, this is the maximum number of consecutive
 |          NaN values to forward/backward fill. In other words, if there is
 |          a gap with more than this number of consecutive NaNs, it will only
 |          be partially filled. If method is not specified, this is the
 |          maximum number of entries along the entire axis where NaNs will be
 |          filled.
 |
 |      Returns
 |      -------
 |      filled : Categorical with NA/NaN filled
 |
 |  get_values(self)
 |      Return the values.
 |
 |      For internal compatibility with pandas formatting.
 |
 |      Returns
 |      -------
 |      values : numpy array
 |          A numpy array of the same dtype as categorical.categories.dtype or
 |          Index if datetime / periods
 |
 |  is_dtype_equal(self, other)
 |      Returns True if categoricals are the same dtype
 |        same categories, and same ordered
 |
 |      Parameters
 |      ----------
 |      other : Categorical
 |
 |      Returns
 |      -------
 |      are_equal : boolean
 |
 |  isnull(self)
 |      Detect missing values
 |
 |      Both missing values (-1 in .codes) and NA as a category are detected.
 |
 |      Returns
 |      -------
 |      a boolean array of whether my values are null
 |
 |      See also
 |      --------
 |      pandas.isnull : pandas version
 |      Categorical.notnull : boolean inverse of Categorical.isnull
 |
 |  map(self, mapper)
 |      Apply mapper function to its categories (not codes).
 |
 |      Parameters
 |      ----------
 |      mapper : callable
 |          Function to be applied. When all categories are mapped
 |          to different categories, the result will be Categorical which has
 |          the same order property as the original. Otherwise, the result will
 |          be np.ndarray.
 |
 |      Returns
 |      -------
 |      applied : Categorical or np.ndarray.
 |
 |  max(self, numeric_only=None, **kwargs)
 |      The maximum value of the object.
 |
 |      Only ordered `Categoricals` have a maximum!
 |
 |      Raises
 |      ------
 |      TypeError
 |          If the `Categorical` is not `ordered`.
 |
 |      Returns
 |      -------
 |      max : the maximum of this `Categorical`
 |
 |  memory_usage(self, deep=False)
 |      Memory usage of my values
 |
 |      Parameters
 |      ----------
 |      deep : bool
 |          Introspect the data deeply, interrogate
 |          `object` dtypes for system-level memory consumption
 |
 |      Returns
 |      -------
 |      bytes used
 |
 |      Notes
 |      -----
 |      Memory usage does not include memory consumed by elements that
 |      are not components of the array if deep=False
 |
 |      See Also
 |      --------
 |      numpy.ndarray.nbytes
 |
 |  min(self, numeric_only=None, **kwargs)
 |      The minimum value of the object.
 |
 |      Only ordered `Categoricals` have a minimum!
 |
 |      Raises
 |      ------
 |      TypeError
 |          If the `Categorical` is not `ordered`.
 |
 |      Returns
 |      -------
 |      min : the minimum of this `Categorical`
 |
 |  mode(self)
 |      Returns the mode(s) of the Categorical.
 |
 |      Empty if nothing occurs at least 2 times.  Always returns `Categorical`
 |      even if only one value.
 |
 |      Returns
 |      -------
 |      modes : `Categorical` (sorted)
 |
 |  notnull(self)
 |      Reverse of isnull
 |
 |      Both missing values (-1 in .codes) and NA as a category are detected as
 |      null.
 |
 |      Returns
 |      -------
 |      a boolean array of whether my values are not null
 |
 |      See also
 |      --------
 |      pandas.notnull : pandas version
 |      Categorical.isnull : boolean inverse of Categorical.notnull
 |
 |  order(self, inplace=False, ascending=True, na_position='last')
 |      DEPRECATED: use :meth:`Categorical.sort_values`. That function
 |      is entirely equivalent to this one.
 |
 |      See Also
 |      --------
 |      Categorical.sort_values
 |
 |  put(self, *args, **kwargs)
 |      Replace specific elements in the Categorical with given values.
 |
 |  ravel(self, order='C')
 |      Return a flattened (numpy) array.
 |
 |      For internal compatibility with numpy arrays.
 |
 |      Returns
 |      -------
 |      raveled : numpy array
 |
 |  remove_categories(self, removals, inplace=False)
 |      Removes the specified categories.
 |
 |      `removals` must be included in the old categories. Values which were in
 |      the removed categories will be set to NaN
 |
 |      Raises
 |      ------
 |      ValueError
 |          If the removals are not contained in the categories
 |
 |      Parameters
 |      ----------
 |      removals : category or list of categories
 |         The categories which should be removed.
 |      inplace : boolean (default: False)
 |         Whether or not to remove the categories inplace or return a copy of
 |         this categorical with removed categories.
 |
 |      Returns
 |      -------
 |      cat : Categorical with removed categories or None if inplace.
 |
 |      See also
 |      --------
 |      rename_categories
 |      reorder_categories
 |      add_categories
 |      remove_unused_categories
 |      set_categories
 |
 |  remove_unused_categories(self, inplace=False)
 |      Removes categories which are not used.
 |
 |      Parameters
 |      ----------
 |      inplace : boolean (default: False)
 |         Whether or not to drop unused categories inplace or return a copy of
 |         this categorical with unused categories dropped.
 |
 |      Returns
 |      -------
 |      cat : Categorical with unused categories dropped or None if inplace.
 |
 |      See also
 |      --------
 |      rename_categories
 |      reorder_categories
 |      add_categories
 |      remove_categories
 |      set_categories
 |
 |  rename_categories(self, new_categories, inplace=False)
 |      Renames categories.
 |
 |      The new categories has to be a list-like object. All items must be
 |      unique and the number of items in the new categories must be the same
 |      as the number of items in the old categories.
 |
 |      Raises
 |      ------
 |      ValueError
 |          If the new categories do not have the same number of items than the
 |          current categories or do not validate as categories
 |
 |      Parameters
 |      ----------
 |      new_categories : Index-like
 |         The renamed categories.
 |      inplace : boolean (default: False)
 |         Whether or not to rename the categories inplace or return a copy of
 |         this categorical with renamed categories.
 |
 |      Returns
 |      -------
 |      cat : Categorical with renamed categories added or None if inplace.
 |
 |      See also
 |      --------
 |      reorder_categories
 |      add_categories
 |      remove_categories
 |      remove_unused_categories
 |      set_categories
 |
 |  reorder_categories(self, new_categories, ordered=None, inplace=False)
 |      Reorders categories as specified in new_categories.
 |
 |      `new_categories` need to include all old categories and no new category
 |      items.
 |
 |      Raises
 |      ------
 |      ValueError
 |          If the new categories do not contain all old category items or any
 |          new ones
 |
 |      Parameters
 |      ----------
 |      new_categories : Index-like
 |         The categories in new order.
 |      ordered : boolean, optional
 |         Whether or not the categorical is treated as a ordered categorical.
 |         If not given, do not change the ordered information.
 |      inplace : boolean (default: False)
 |         Whether or not to reorder the categories inplace or return a copy of
 |         this categorical with reordered categories.
 |
 |      Returns
 |      -------
 |      cat : Categorical with reordered categories or None if inplace.
 |
 |      See also
 |      --------
 |      rename_categories
 |      add_categories
 |      remove_categories
 |      remove_unused_categories
 |      set_categories
 |
 |  repeat(self, repeats, *args, **kwargs)
 |      Repeat elements of a Categorical.
 |
 |      See also
 |      --------
 |      numpy.ndarray.repeat
 |
 |  reshape(self, new_shape, *args, **kwargs)
 |      DEPRECATED: calling this method will raise an error in a
 |      future release.
 |
 |      An ndarray-compatible method that returns `self` because
 |      `Categorical` instances cannot actually be reshaped.
 |
 |      Parameters
 |      ----------
 |      new_shape : int or tuple of ints
 |          A 1-D array of integers that correspond to the new
 |          shape of the `Categorical`. For more information on
 |          the parameter, please refer to `np.reshape`.
 |
 |  searchsorted(self, v, side='left', sorter=None)
 |      Find indices where elements should be inserted to maintain order.
 |
 |      Find the indices into a sorted Categorical `self` such that, if the
 |      corresponding elements in `v` were inserted before the indices, the
 |      order of `self` would be preserved.
 |
 |      Parameters
 |      ----------
 |      v : array_like
 |          Values to insert into `self`.
 |      side : {'left', 'right'}, optional
 |          If 'left', the index of the first suitable location found is given.
 |          If 'right', return the last such index.  If there is no suitable
 |          index, return either 0 or N (where N is the length of `self`).
 |      sorter : 1-D array_like, optional
 |          Optional array of integer indices that sort `self` into ascending
 |          order. They are typically the result of ``np.argsort``.
 |
 |      Returns
 |      -------
 |      indices : array of ints
 |          Array of insertion points with the same shape as `v`.
 |
 |      See Also
 |      --------
 |      numpy.searchsorted
 |
 |      Notes
 |      -----
 |      Binary search is used to find the required insertion points.
 |
 |      Examples
 |      --------
 |      >>> x = pd.Series([1, 2, 3])
 |      >>> x
 |      0    1
 |      1    2
 |      2    3
 |      dtype: int64
 |      >>> x.searchsorted(4)
 |      array([3])
 |      >>> x.searchsorted([0, 4])
 |      array([0, 3])
 |      >>> x.searchsorted([1, 3], side='left')
 |      array([0, 2])
 |      >>> x.searchsorted([1, 3], side='right')
 |      array([1, 3])
 |      >>>
 |      >>> x = pd.Categorical(['apple', 'bread', 'bread', 'cheese', 'milk' ])
 |      [apple, bread, bread, cheese, milk]
 |      Categories (4, object): [apple < bread < cheese < milk]
 |      >>> x.searchsorted('bread')
 |      array([1])     # Note: an array, not a scalar
 |      >>> x.searchsorted(['bread'])
 |      array([1])
 |      >>> x.searchsorted(['bread', 'eggs'])
 |      array([1, 4])
 |      >>> x.searchsorted(['bread', 'eggs'], side='right')
 |      array([3, 4])    # eggs before milk
 |
 |  set_categories(self, new_categories, ordered=None, rename=False, inplace=False)
 |      Sets the categories to the specified new_categories.
 |
 |      `new_categories` can include new categories (which will result in
 |      unused categories) or remove old categories (which results in values
 |      set to NaN). If `rename==True`, the categories will simple be renamed
 |      (less or more items than in old categories will result in values set to
 |      NaN or in unused categories respectively).
 |
 |      This method can be used to perform more than one action of adding,
 |      removing, and reordering simultaneously and is therefore faster than
 |      performing the individual steps via the more specialised methods.
 |
 |      On the other hand this methods does not do checks (e.g., whether the
 |      old categories are included in the new categories on a reorder), which
 |      can result in surprising changes, for example when using special string
 |      dtypes on python3, which does not considers a S1 string equal to a
 |      single char python string.
 |
 |      Raises
 |      ------
 |      ValueError
 |          If new_categories does not validate as categories
 |
 |      Parameters
 |      ----------
 |      new_categories : Index-like
 |         The categories in new order.
 |      ordered : boolean, (default: False)
 |         Whether or not the categorical is treated as a ordered categorical.

In [43]:
cats.categories

Index(['(18, 25]', '(25, 35]', '(35, 60]', '(60, 100]'], dtype='object')

In [44]:
pd.value_counts(cats)

(18, 25]     5
(35, 60]     3
(25, 35]     3
(60, 100]    1
dtype: int64

In [45]:
pd.cut(ages, [18, 26, 36, 61, 100], right=False)

[[18, 26), [18, 26), [18, 26), [26, 36), [18, 26), ..., [26, 36), [61, 100), [36, 61), [36, 61), [26, 36)]
Length: 12
Categories (4, object): [[18, 26) < [26, 36) < [36, 61) < [61, 100)]

In [46]:
group_names = ['Youth', 'YoungAdult', 'MiddleAged', 'Senior']

In [47]:
help(pd.cut)

Help on function cut in module pandas.tools.tile:

cut(x, bins, right=True, labels=None, retbins=False, precision=3, include_lowest=False)
    Return indices of half-open bins to which each value of `x` belongs.

    Parameters
    ----------
    x : array-like
        Input array to be binned. It has to be 1-dimensional.
    bins : int or sequence of scalars
        If `bins` is an int, it defines the number of equal-width bins in the
        range of `x`. However, in this case, the range of `x` is extended
        by .1% on each side to include the min or max values of `x`. If
        `bins` is a sequence it defines the bin edges allowing for
        non-uniform bin width. No extension of the range of `x` is done in
        this case.
    right : bool, optional
        Indicates whether the bins include the rightmost edge or not. If
        right == True (the default), then the bins [1,2,3,4] indicate
        (1,2], (2,3], (3,4].
    labels : array or boolean, default None
        Used as labels for the resulting bins. Must be of the same length as
        the resulting bins. If False, return only integer indicators of the
        bins.
    retbins : bool, optional
        Whether to return the bins or not. Can be useful if bins is given
        as a scalar.
    precision : int
        The precision at which to store and display the bins labels
    include_lowest : bool
        Whether the first interval should be left-inclusive or not.

    Returns
    -------
    out : Categorical or Series or array of integers if labels is False
        The return type (Categorical or Series) depends on the input: a Series
        of type category if input is a Series else Categorical. Bins are
        represented as categories when categorical data is returned.
    bins : ndarray of floats
        Returned only if `retbins` is True.

    Notes
    -----
    The `cut` function can be useful for going from a continuous variable to
    a categorical variable. For example, `cut` could convert ages to groups
    of age ranges.

    Any NA values will be NA in the result.  Out of bounds values will be NA in
    the resulting Categorical object


    Examples
    --------
    >>> pd.cut(np.array([.2, 1.4, 2.5, 6.2, 9.7, 2.1]), 3, retbins=True)
    ([(0.191, 3.367], (0.191, 3.367], (0.191, 3.367], (3.367, 6.533],
      (6.533, 9.7], (0.191, 3.367]]
    Categories (3, object): [(0.191, 3.367] < (3.367, 6.533] < (6.533, 9.7]],
    array([ 0.1905    ,  3.36666667,  6.53333333,  9.7       ]))
    >>> pd.cut(np.array([.2, 1.4, 2.5, 6.2, 9.7, 2.1]), 3,
               labels=["good","medium","bad"])
    [good, good, good, medium, bad, good]
    Categories (3, object): [good < medium < bad]
    >>> pd.cut(np.ones(5), 4, labels=False)
    array([1, 1, 1, 1, 1], dtype=int64)

In [48]:
pd.cut(ages, bins, labels=group_names)

[Youth, Youth, Youth, YoungAdult, Youth, ..., YoungAdult, Senior, MiddleAged, MiddleAged, YoungAdult]
Length: 12
Categories (4, object): [Youth < YoungAdult < MiddleAged < Senior]

In [49]:
pd.cut(ages, bins, labels=group_names).categories

Index(['Youth', 'YoungAdult', 'MiddleAged', 'Senior'], dtype='object')

In [50]:
data = np.random.randn(20)

In [51]:
data

array([ 0.83042788, -0.48458705, -0.37026972, -0.41067349, -0.91805844,
       -0.31741007,  0.75624224,  0.21161365, -0.27058642,  0.00243886,
        0.41618919, -0.62945769, -0.0737003 ,  1.24209291, -0.51007589,
        1.62456103,  1.82728425,  1.23777719, -0.22557087,  2.28934113])

In [52]:
pd.cut(data, 4, precision=2)

[(0.69, 1.49], (-0.92, -0.12], (-0.92, -0.12], (-0.92, -0.12], (-0.92, -0.12], ..., (1.49, 2.29], (1.49, 2.29], (0.69, 1.49], (-0.92, -0.12], (1.49, 2.29]]
Length: 20
Categories (4, object): [(-0.92, -0.12] < (-0.12, 0.69] < (0.69, 1.49] < (1.49, 2.29]]

In [53]:
data = np.random.randn(1000)

In [54]:
cats = pd.qcut(data, 4)

In [55]:
cats

[[-4.32, -0.685], [-4.32, -0.685], [-4.32, -0.685], (0.636, 3.0718], (-0.685, -0.0453], ..., (-0.0453, 0.636], (-0.0453, 0.636], [-4.32, -0.685], (0.636, 3.0718], (-0.685, -0.0453]]
Length: 1000
Categories (4, object): [[-4.32, -0.685] < (-0.685, -0.0453] < (-0.0453, 0.636] < (0.636, 3.0718]]

In [56]:
pd.value_counts(cats)

(0.636, 3.0718]      250
(-0.0453, 0.636]     250
(-0.685, -0.0453]    250
[-4.32, -0.685]      250
dtype: int64

In [57]:
pd.qcut(data, [0, 0.1, 0.5, 0.9, 1.])

[(-1.282, -0.0453], (-1.282, -0.0453], [-4.32, -1.282], (-0.0453, 1.28], (-1.282, -0.0453], ..., (-0.0453, 1.28], (-0.0453, 1.28], (-1.282, -0.0453], (-0.0453, 1.28], (-1.282, -0.0453]]
Length: 1000
Categories (4, object): [[-4.32, -1.282] < (-1.282, -0.0453] < (-0.0453, 1.28] < (1.28, 3.0718]]

## 检测和过滤异常值

In [58]:
np.random.seed(12345)

In [59]:
data = DataFrame(np.random.randn(1000, 4))

In [60]:
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.067684     0.067924     0.025598    -0.002298
std       0.998035     0.992106     1.006835     0.996794
min      -3.428254    -3.548824    -3.184377    -3.745356
25%      -0.774890    -0.591841    -0.641675    -0.644144
50%      -0.116401     0.101143     0.002073    -0.013611
75%       0.616366     0.780282     0.680391     0.654328
max       3.366626     2.653656     3.260383     3.927528

In [61]:
data

            0         1         2         3
0   -0.204708  0.478943 -0.519439 -0.555730
1    1.965781  1.393406  0.092908  0.281746
2    0.769023  1.246435  1.007189 -1.296221
3    0.274992  0.228913  1.352917  0.886429
4   -2.001637 -0.371843  1.669025 -0.438570
5   -0.539741  0.476985  3.248944 -1.021228
6   -0.577087  0.124121  0.302614  0.523772
7    0.000940  1.343810 -0.713544 -0.831154
8   -2.370232 -1.860761 -0.860757  0.560145
9   -1.265934  0.119827 -1.063512  0.332883
10  -2.359419 -0.199543 -1.541996 -0.970736
11  -1.307030  0.286350  0.377984 -0.753887
12   0.331286  1.349742  0.069877  0.246674
13  -0.011862  1.004812  1.327195 -0.919262
14  -1.549106  0.022185  0.758363 -0.660524
15   0.862580 -0.010032  0.050009  0.670216
16   0.852965 -0.955869 -0.023493 -2.304234
17  -0.652469 -1.218302 -1.332610  1.074623
18   0.723642  0.690002  1.001543 -0.503087
19  -0.622274 -0.921169 -0.726213  0.222896
20   0.051316 -1.157719  0.816707  0.433610
21   1.010737  1.824875 -0.997518  0.850591
22  -0.131578  0.912414  0.188211  2.169461
23  -0.114928  2.003697  0.029610  0.795253
24   0.118110 -0.748532  0.584970  0.152677
25  -1.565657 -0.562540 -0.032664 -0.929006
26  -0.482573 -0.036264  1.095390  0.980928
27  -0.589488  1.581700 -0.528735  0.457002
28   0.929969 -1.569271 -1.022487 -0.402827
29   0.220487 -0.193401  0.669158 -1.648985
..        ...       ...       ...       ...
970  1.140886  0.113279  0.206782 -1.460094
971 -1.523554 -0.590572 -0.324064  0.132262
972  0.097878  1.244456 -0.048534 -1.091849
973 -0.738296  0.115881  0.016253 -1.243078
974 -1.969172 -1.141360  0.405558 -0.521155
975 -0.813280 -0.461413  1.159668 -0.307670
976  0.669147  0.397355  0.612537  1.381155
977 -0.042541  1.182125  0.153036  0.075798
978  0.615651 -1.992291  0.963044  0.102469
979  0.359400  0.355787 -0.799366  1.120895
980 -0.261844 -0.474138 -0.112021 -0.285176
981 -0.136429  1.285628  0.753586  0.053410
982 -0.355393  0.790731  1.274794  0.233619
983 -1.316005  1.396082  0.336700  0.604880
984  0.675317 -0.060329  1.801953 -0.335099
985 -0.754114  0.650691  0.365401  1.367213
986 -0.105654 -0.001860  0.316802 -0.512542
987 -0.052736 -0.457225  2.452835 -1.050942
988 -0.172078  0.853049 -0.356263 -0.387002
989  0.881601  1.067288  1.079688  1.642339
990 -0.103672 -0.882949 -0.197357  1.336648
991  0.926782 -0.527103  0.633763  0.153988
992 -0.527754  0.815104 -0.677870 -1.466596
993  0.957144  0.377342 -0.383241  1.101972
994  1.221058 -0.326481  0.750008  0.604072
995  1.089085  0.251232 -1.451985  1.653126
996 -0.478509 -0.010663 -1.060881 -1.502870
997 -1.946267  1.013592  0.037333  0.133304
998 -1.293122 -0.322542 -0.782960 -0.303340
999  0.089987  0.292291  1.177706  0.882755

[1000 rows x 4 columns]

In [62]:
help(np.random.seed)

Help on built-in function seed:

seed(...) method of mtrand.RandomState instance
    seed(seed=None)

    Seed the generator.

    This method is called when `RandomState` is initialized. It can be
    called again to re-seed the generator. For details, see `RandomState`.

    Parameters
    ----------
    seed : int or array_like, optional
        Seed for `RandomState`.
        Must be convertible to 32 bit unsigned integers.

    See Also
    --------
    RandomState

In [63]:
col = data[3]

In [64]:
col

0     -0.555730
1      0.281746
2     -1.296221
3      0.886429
4     -0.438570
5     -1.021228
6      0.523772
7     -0.831154
8      0.560145
9      0.332883
10    -0.970736
11    -0.753887
12     0.246674
13    -0.919262
14    -0.660524
15     0.670216
16    -2.304234
17     1.074623
18    -0.503087
19     0.222896
20     0.433610
21     0.850591
22     2.169461
23     0.795253
24     0.152677
25    -0.929006
26     0.980928
27     0.457002
28    -0.402827
29    -1.648985
         ...
970   -1.460094
971    0.132262
972   -1.091849
973   -1.243078
974   -0.521155
975   -0.307670
976    1.381155
977    0.075798
978    0.102469
979    1.120895
980   -0.285176
981    0.053410
982    0.233619
983    0.604880
984   -0.335099
985    1.367213
986   -0.512542
987   -1.050942
988   -0.387002
989    1.642339
990    1.336648
991    0.153988
992   -1.466596
993    1.101972
994    0.604072
995    1.653126
996   -1.502870
997    0.133304
998   -0.303340
999    0.882755
Name: 3, dtype: float64

In [65]:
col[np.abs(col) > 3]

97     3.927528
305   -3.399312
400   -3.745356
Name: 3, dtype: float64

In [66]:
data[(np.abs(data) > 3).any(1)]

            0         1         2         3
5   -0.539741  0.476985  3.248944 -1.021228
97  -0.774363  0.552936  0.106061  3.927528
102 -0.655054 -0.565230  3.176873  0.959533
305 -2.315555  0.457246 -0.025907 -3.399312
324  0.050188  1.951312  3.260383  0.963301
400  0.146326  0.508391 -0.196713 -3.745356
499 -0.293333 -0.242459 -3.056990  1.918403
523 -3.428254 -0.296336 -0.439938 -0.867165
586  0.275144  1.179227 -3.184377  1.369891
808 -0.362528 -3.548824  1.553205 -2.186301
900  3.366626 -2.372214  0.851010  1.332846

In [67]:
(np.abs(data) > 3).any()

0    True
1    True
2    True
3    True
dtype: bool

In [68]:
data[np.abs(data) > 3] = np.sign(data) * 3

In [69]:
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.067623     0.068473     0.025153    -0.002081
std       0.995485     0.990253     1.003977     0.989736
min      -3.000000    -3.000000    -3.000000    -3.000000
25%      -0.774890    -0.591841    -0.641675    -0.644144
50%      -0.116401     0.101143     0.002073    -0.013611
75%       0.616366     0.780282     0.680391     0.654328
max       3.000000     2.653656     3.000000     3.000000

## 排列和随机采样

In [70]:
 df = DataFrame(np.arange(5 * 4).reshape((5, 4)))

In [71]:
sampler = np.random.permutation(5)

In [72]:
sampler

array([1, 0, 2, 3, 4])

In [73]:
df

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [75]:
df.take(sampler)

    0   1   2   3
1   4   5   6   7
0   0   1   2   3
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [78]:
df.take(np.random.permutation(len(df))[:3])

    0   1   2   3
1   4   5   6   7
3  12  13  14  15
4  16  17  18  19

In [79]:
bag = np.array([5, 7, -1, 6, 4])

In [80]:
sampler = np.random.randint(0, len(bag), size=10)

In [81]:
sampler

array([4, 4, 2, 2, 2, 0, 3, 0, 4, 1])

In [83]:
draws = bag.take(sampler)

In [84]:
draws

array([ 4,  4, -1, -1, -1,  5,  6,  5,  4,  7])

## 计算指标、哑变量

In [85]:
df = DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'b'],
               'data1': range(6)})

In [86]:
df

   data1 key
0      0   b
1      1   b
2      2   a
3      3   c
4      4   a
5      5   b

In [89]:
pd.get_dummies(df['key'])

   a  b  c
0  0  1  0
1  0  1  0
2  1  0  0
3  0  0  1
4  1  0  0
5  0  1  0

In [90]:
dummies = pd.get_dummies(df['key'], prefix='key')

In [91]:
df_with_dummy = df[['data1']].join(dummies)

In [93]:
df_with_dummy

   data1  key_a  key_b  key_c
0      0      0      1      0
1      1      0      1      0
2      2      1      0      0
3      3      0      0      1
4      4      1      0      0
5      5      0      1      0

In [98]:
mnames = ['movie_id', 'title', 'genres']

In [100]:
movies = pd.read_table('/Users/wonderful/Documents/技术书籍/Data_Analysis_and_Finance_文件集合/Python_for_Data_Analysis/pydata-book-master/ch02/movielens/movies.dat',
                      sep='::',
                      header=None,
                      names=mnames,
                      engine='python')

In [102]:
movies[:10]

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy
5         6                         Heat (1995)         Action|Crime|Thriller
6         7                      Sabrina (1995)                Comedy|Romance
7         8                 Tom and Huck (1995)          Adventure|Children's
8         9                 Sudden Death (1995)                        Action
9        10                    GoldenEye (1995)     Action|Adventure|Thriller

In [108]:
genre_iter = (set(x.split('|')) for x in movies.genres)

In [109]:
genres = sorted(set.union(*genre_iter))

In [114]:
dummies = DataFrame(np.zeros((len(movies), len(genres))), columns=genres)

In [115]:
for i, gen in enumerate(movies.genres):
    dummies.ix[i, gen.split('|')] = 1

In [116]:
movies_windic = movies.join(dummies.add_prefix('Genre_'))

In [118]:
movies_windic.ix[0]

movie_id                                       1
title                           Toy Story (1995)
genres               Animation|Children's|Comedy
Genre_Action                                   0
Genre_Adventure                                0
Genre_Animation                                1
Genre_Children's                               1
Genre_Comedy                                   1
Genre_Crime                                    0
Genre_Documentary                              0
Genre_Drama                                    0
Genre_Fantasy                                  0
Genre_Film-Noir                                0
Genre_Horror                                   0
Genre_Musical                                  0
Genre_Mystery                                  0
Genre_Romance                                  0
Genre_Sci-Fi                                   0
Genre_Thriller                                 0
Genre_War                                      0
Genre_Western                                  0
Name: 0, dtype: object

In [119]:
values = np.random.randn(10)

In [120]:
values

array([ 0.32496836,  0.20377461,  0.34886204,  0.51600937, -0.48982135,
       -0.6287463 ,  0.2664145 ,  1.0836849 ,  0.30334881, -1.1072385 ])

In [121]:
bins = [0, 0.2, 0.4, 0.6, 0.8, 1]

In [123]:
pd.get_dummies(pd.cut(values, bins))

   (0, 0.2]  (0.2, 0.4]  (0.4, 0.6]  (0.6, 0.8]  (0.8, 1]
0         0           1           0           0         0
1         0           1           0           0         0
2         0           1           0           0         0
3         0           0           1           0         0
4         0           0           0           0         0
5         0           0           0           0         0
6         0           1           0           0         0
7         0           0           0           0         0
8         0           1           0           0         0
9         0           0           0           0         0