# 数据规整方面的话题
## 时间序列以及截面对齐

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [12]:
prices = pd.read_csv('/Users/wonderful/Desktop/stock_px.csv')
volume = pd.read_csv('/Users/wonderful/Desktop/volume.csv')

In [13]:
prices.index = prices['Unnamed: 0']

In [14]:
del prices.index.name

In [15]:
prices = prices[['AAPL', 'JNJ', 'SPX', 'XOM']].ix['2011-09-06':'2011-09-14']

In [16]:
prices

                       AAPL    JNJ      SPX    XOM
2011-09-06 00:00:00  379.74  64.64  1165.24  71.15
2011-09-07 00:00:00  383.93  65.43  1198.62  73.65
2011-09-08 00:00:00  384.14  64.95  1185.90  72.82
2011-09-09 00:00:00  377.48  63.64  1154.23  71.01
2011-09-12 00:00:00  379.94  63.59  1162.27  71.84
2011-09-13 00:00:00  384.62  63.61  1172.87  71.65

In [17]:
volume.index = volume['Unnamed: 0']
del volume.index.name
volume = volume[['AAPL', 'JNJ', 'XOM']].ix['2011-09-06':'2011-09-12']
volume

                           AAPL         JNJ         XOM
2011-09-06 00:00:00  18173500.0  15848300.0  25416300.0
2011-09-07 00:00:00  12492000.0  10759700.0  23108400.0
2011-09-08 00:00:00  14839800.0  15551500.0  22434800.0
2011-09-09 00:00:00  20171900.0  17008200.0  27969100.0

In [18]:
prices * volume

                             AAPL           JNJ  SPX           XOM
2011-09-06 00:00:00  6.901205e+09  1.024434e+09  NaN  1.808370e+09
2011-09-07 00:00:00  4.796054e+09  7.040072e+08  NaN  1.701934e+09
2011-09-08 00:00:00  5.700561e+09  1.010070e+09  NaN  1.633702e+09
2011-09-09 00:00:00  7.614489e+09  1.082402e+09  NaN  1.986086e+09
2011-09-12 00:00:00           NaN           NaN  NaN           NaN
2011-09-13 00:00:00           NaN           NaN  NaN           NaN

In [20]:
vwap = (prices * volume).sum() / volume.sum()

In [21]:
vwap

AAPL    380.837003
JNJ      64.577684
SPX            NaN
XOM      72.073105
dtype: float64

In [22]:
vwap.dropna()

AAPL    380.837003
JNJ      64.577684
XOM      72.073105
dtype: float64

In [23]:
prices.align(volume, join='inner')

(                       AAPL    JNJ    XOM
 2011-09-06 00:00:00  379.74  64.64  71.15
 2011-09-07 00:00:00  383.93  65.43  73.65
 2011-09-08 00:00:00  384.14  64.95  72.82
 2011-09-09 00:00:00  377.48  63.64  71.01,
                            AAPL         JNJ         XOM
 2011-09-06 00:00:00  18173500.0  15848300.0  25416300.0
 2011-09-07 00:00:00  12492000.0  10759700.0  23108400.0
 2011-09-08 00:00:00  14839800.0  15551500.0  22434800.0
 2011-09-09 00:00:00  20171900.0  17008200.0  27969100.0)

In [24]:
s1 = Series(range(3), index=['a', 'b', 'c'])
s2 = Series(range(4), index=['d', 'b', 'c', 'e'])
s3 = Series(range(3), index=['f', 'a', 'c'])

In [27]:
DataFrame({'one': s1,
          'two': s2,
          'three': s3})

   one  three  two
a  0.0    1.0  NaN
b  1.0    NaN  1.0
c  2.0    2.0  2.0
d  NaN    NaN  0.0
e  NaN    NaN  3.0
f  NaN    0.0  NaN

In [28]:
DataFrame({'one': s1,'two': s2,'three': s3}, 
          index=list('face'))

   one  three  two
f  NaN    0.0  NaN
a  0.0    1.0  NaN
c  2.0    2.0  2.0
e  NaN    NaN  3.0

## 频率不同的时间序列的运算

In [30]:
ts1 = Series(np.random.randn(3),
             index=pd.date_range('2012-6-13', periods=3, freq='W-WED'))

In [31]:
ts1

2012-06-13    0.909405
2012-06-20    0.856339
2012-06-27   -0.174657
Freq: W-WED, dtype: float64