# 透视表和交叉表

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
tips = pd.read_csv('/Users/wonderful/Desktop/tips.csv')

In [3]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [4]:
tips['tip_pct'] = tips['tip'] / tips['total_bill']

In [5]:
tips.pivot_table?

In [6]:
tips.pivot_table(index=['sex', 'smoker'])

                   size       tip   tip_pct  total_bill
sex    smoker
Female No      2.592593  2.773519  0.156921   18.105185
       Yes     2.242424  2.931515  0.182150   17.977879
Male   No      2.711340  3.113402  0.160669   19.791237
       Yes     2.500000  3.051167  0.152771   22.284500

In [7]:
tips.pivot_table(['tip_pct', 'size'],
                 index=['sex', 'day'],
                 columns='smoker')

              tip_pct                size
smoker             No       Yes        No       Yes
sex    day
Female Fri   0.165296  0.209129  2.500000  2.000000
       Sat   0.147993  0.163817  2.307692  2.200000
       Sun   0.165710  0.237075  3.071429  2.500000
       Thur  0.155971  0.163073  2.480000  2.428571
Male   Fri   0.138005  0.144730  2.000000  2.125000
       Sat   0.162132  0.139067  2.656250  2.629630
       Sun   0.158291  0.173964  2.883721  2.600000
       Thur  0.165706  0.164417  2.500000  2.300000

In [8]:
tips.pivot_table(['tip_pct', 'size'],
                 index=['sex', 'day'],
                 columns='smoker',
                 margins=True)

              tip_pct                          size
smoker             No       Yes       All        No       Yes       All
sex    day
Female Fri   0.165296  0.209129  0.199388  2.500000  2.000000  2.111111
       Sat   0.147993  0.163817  0.156470  2.307692  2.200000  2.250000
       Sun   0.165710  0.237075  0.181569  3.071429  2.500000  2.944444
       Thur  0.155971  0.163073  0.157525  2.480000  2.428571  2.468750
Male   Fri   0.138005  0.144730  0.143385  2.000000  2.125000  2.100000
       Sat   0.162132  0.139067  0.151577  2.656250  2.629630  2.644068
       Sun   0.158291  0.173964  0.162344  2.883721  2.600000  2.810345
       Thur  0.165706  0.164417  0.165276  2.500000  2.300000  2.433333
All          0.159328  0.163196  0.160803  2.668874  2.408602  2.569672

In [9]:
tips.pivot_table('tip_pct', 
                index=['sex', 'smoker'], 
                columns='day',
                aggfunc=len,
                margins=True)

day             Fri   Sat   Sun  Thur    All
sex    smoker
Female No       2.0  13.0  14.0  25.0   54.0
       Yes      7.0  15.0   4.0   7.0   33.0
Male   No       2.0  32.0  43.0  20.0   97.0
       Yes      8.0  27.0  15.0  10.0   60.0
All            19.0  87.0  76.0  62.0  244.0

In [10]:
tips.pivot_table('size',
                 index=['time', 'sex', 'smoker'],
                 columns='day',
                 aggfunc='sum',
                 fill_value=0)

day                   Fri  Sat  Sun  Thur
time   sex    smoker
Dinner Female No        2   30   43     2
              Yes       8   33   10     0
       Male   No        4   85  124     0
              Yes      12   71   39     0
Lunch  Female No        3    0    0    60
              Yes       6    0    0    17
       Male   No        0    0    0    50
              Yes       5    0    0    23

## 交叉表：crosstab

In [11]:
np.random.permutation?

In [12]:
data = DataFrame({'Sample': range(1, 11),
                  'Gender': np.random.choice(['Male', 'Female'], 10),
                  'Handedness': np.random.choice(['Right-handed', 'Left-handed'], 10)})

In [13]:
data

   Gender    Handedness  Sample
0  Female   Left-handed       1
1  Female   Left-handed       2
2  Female  Right-handed       3
3  Female  Right-handed       4
4  Female  Right-handed       5
5    Male  Right-handed       6
6  Female   Left-handed       7
7    Male  Right-handed       8
8    Male  Right-handed       9
9    Male  Right-handed      10

In [14]:
pd.crosstab(data.Gender, data.Handedness, margins=True)

Handedness  Left-handed  Right-handed  All
Gender
Female                3             3    6
Male                  0             4    4
All                   3             7   10

In [15]:
pd.crosstab([tips.time, tips.day], tips.smoker, margins=True)

smoker        No  Yes  All
time   day
Dinner Fri     3    9   12
       Sat    45   42   87
       Sun    57   19   76
       Thur    1    0    1
Lunch  Fri     1    6    7
       Thur   44   17   61
All          151   93  244

## 示例：2012 联邦选举委员会数据库

In [16]:
fec = pd.read_csv('/Users/wonderful/Desktop/P00000001-ALL.csv', dtype='object')

In [17]:
fec.head()

,cmte_id,cand_id,cand_nm,contbr_nm,contbr_city,contbr_st,contbr_zip,contbr_employer,contbr_occupation,contb_receipt_amt,contb_receipt_dt,receipt_desc,memo_cd,memo_text,form_tp,file_num
0,C00410118,P20002978,"Bachmann, Michelle","HARVEY, WILLIAM",MOBILE,AL,366010290,RETIRED,RETIRED,250,20-JUN-11,NaN,NaN,NaN,SA17A,736166
1,C00410118,P20002978,"Bachmann, Michelle","HARVEY, WILLIAM",MOBILE,AL,366010290,RETIRED,RETIRED,50,23-JUN-11,NaN,NaN,NaN,SA17A,736166
2,C00410118,P20002978,"Bachmann, Michelle","SMITH, LANIER",LANETT,AL,368633403,INFORMATION REQUESTED,INFORMATION REQUESTED,250,05-JUL-11,NaN,NaN,NaN,SA17A,749073
3,C00410118,P20002978,"Bachmann, Michelle","BLEVINS, DARONDA",PIGGOTT,AR,724548253,NONE,RETIRED,250,01-AUG-11,NaN,NaN,NaN,SA17A,749073
4,C00410118,P20002978,"Bachmann, Michelle","WARDENBURG, HAROLD",HOT SPRINGS NATION,AR,719016467,NONE,RETIRED,300,20-JUN-11,NaN,NaN,NaN,SA17A,736166

In [18]:
fec.ix[123456]

cmte_id                             C00431445
cand_id                             P80003338
cand_nm                         Obama, Barack
contbr_nm                         ELLMAN, IRA
contbr_city                             TEMPE
contbr_st                                  AZ
contbr_zip                          852816719
contbr_employer      ARIZONA STATE UNIVERSITY
contbr_occupation                   PROFESSOR
contb_receipt_amt                          50
contb_receipt_dt                    01-DEC-11
receipt_desc                              NaN
memo_cd                                   NaN
memo_text                                 NaN
form_tp                                 SA17A
file_num                               772372
Name: 123456, dtype: object

In [19]:
unique_cards = fec.cand_nm.unique()

In [20]:
unique_cards

array(['Bachmann, Michelle', 'Romney, Mitt', 'Obama, Barack',
       "Roemer, Charles E. 'Buddy' III", 'Pawlenty, Timothy',
       'Johnson, Gary Earl', 'Paul, Ron', 'Santorum, Rick', 'Cain, Herman',
       'Gingrich, Newt', 'McCotter, Thaddeus G', 'Huntsman, Jon',
       'Perry, Rick'], dtype=object)

In [21]:
unique_cards[2]

'Obama, Barack'

In [22]:
parties = {'Bachmann, Michelle': 'Republican',
           'Cain, Herman': 'Republican',
           'Gingrich, Newt': 'Republican',
           'Huntsman, Jon': 'Republican',
           'Johnson, Gary Earl': 'Republican',
           'McCotter, Thaddeus G': 'Republican',
           'Obama, Barack': 'Democrat',
           'Paul, Ron': 'Republican',
           'Pawlenty, Timothy': 'Republican',
           'Perry, Rick': 'Republican',
           "Roemer, Charles E. 'Buddy' III": 'Republican',
           'Romney, Mitt': 'Republican',
           'Santorum, Rick': 'Republican'}

In [23]:
fec.cand_nm[123456: 123461]

123456    Obama, Barack
123457    Obama, Barack
123458    Obama, Barack
123459    Obama, Barack
123460    Obama, Barack
Name: cand_nm, dtype: object

In [24]:
fec.cand_nm[123456: 123461].map(parties)

123456    Democrat
123457    Democrat
123458    Democrat
123459    Democrat
123460    Democrat
Name: cand_nm, dtype: object

In [25]:
fec['party'] = fec.cand_nm.map(parties)

In [26]:
fec['party'].value_counts()

Democrat      593746
Republican    407985
Name: party, dtype: int64

In [27]:
(fec.contb_receipt_amt.apply(float) > 0).value_counts()

True     991475
False     10256
Name: contb_receipt_amt, dtype: int64

In [28]:
fec['party'].value_counts()

Democrat      593746
Republican    407985
Name: party, dtype: int64

In [29]:
fec = fec[fec.contb_receipt_amt.apply(float) > 0]

In [30]:
fec_mrbo = fec[fec.cand_nm.isin(['Obama, Barack', 'Romney, Mitt'])]

### 根据职业和雇主统计赞助信息

In [31]:
fec.contbr_occupation.value_counts()[:10]

RETIRED                                   233990
INFORMATION REQUESTED                      35107
ATTORNEY                                   34286
HOMEMAKER                                  29931
PHYSICIAN                                  23432
INFORMATION REQUESTED PER BEST EFFORTS     21138
ENGINEER                                   14334
TEACHER                                    13990
CONSULTANT                                 13273
PROFESSOR                                  12555
Name: contbr_occupation, dtype: int64

In [32]:
occ_mapping = {
   'INFORMATION REQUESTED PER BEST EFFORTS' : 'NOT PROVIDED',
   'INFORMATION REQUESTED' : 'NOT PROVIDED',
   'INFORMATION REQUESTED (BEST EFFORTS)' : 'NOT PROVIDED',
   'C.E.O.': 'CEO'
}

In [33]:
f = lambda x: occ_mapping.get(x, x)
fec.contbr_occupation = fec.contbr_occupation.map(f)

In [34]:
emp_mapping = {
   'INFORMATION REQUESTED PER BEST EFFORTS' : 'NOT PROVIDED',
   'INFORMATION REQUESTED' : 'NOT PROVIDED',
   'SELF' : 'SELF-EMPLOYED',
   'SELF EMPLOYED' : 'SELF-EMPLOYED',
}

In [35]:
f = lambda x: emp_mapping.get(x, x)
fec.contbr_employer = fec.contbr_employer.map(f)

In [36]:
by_occupation = fec.pivot_table('contb_receipt_amt',
                                index='contbr_occupation', 
                                columns='party',
                                aggfunc='sum')

In [37]:
by_occupation.sum?

In [38]:
type(by_occupation['Democrat'][5])

NoneType

In [39]:
by_occupation = by_occupation.fillna(np.nan)

In [40]:
over_2mm = by_occupation[by_occupation.sum(1) > 200]

In [41]:
over_2mm

Empty DataFrame
Columns: [Democrat, Republican]
Index: []

In [42]:
by_occupation

party,Democrat,Republican
contbr_occupation,,
MIXED-MEDIA ARTIST / STORYTELLER,100,NaN
AREA VICE PRESIDENT,250,NaN
RESEARCH ASSOCIATE,100,NaN
TEACHER,500,NaN
THERAPIST,5002500900,NaN
'MIS MANAGER,NaN,177.6
(PART-TIME) SALES CONSULTANT & WRITER,NaN,35250
(RETIRED),NaN,250
-,25002500,707.0780.485027.25250500500
--,NaN,75
.NET PROGRAMMER,20201362020202050502530252520,NaN
0,NaN,20
07/13/1972,8810,NaN
100% DISABLED ARMY VET,NaN,250100
100% DISABLED VETERAN,NaN,211.2810069.5100150500150150500150
100% DISABLED VIET NAM COMBAT VETER,NaN,100
100% DISABLED VIETNAM VETERAN,NaN,10036.25100
11B,NaN,150150
12K ADVOCATE,150,NaN
13B CANNON CREWMEMBER,NaN,71.8
13D,5030200302525303030303525263030303035,NaN
15J,NaN,10050
15U - CHINOOK MECHANIC,NaN,100100
1SG RETIRED,901010010,NaN
1ST ASSISTANT DIRECTOR 2ND UNIT,35,NaN
1ST ASSISTANT SOUND EDITOR,NaN,292.8
1ST GRADE TEACHER,530200100100,NaN
1ST LIEUTENANT (MILITARY OFFICER),NaN,500
1ST LIEUTENANT (RET),NaN,25250505024.550
1ST LT,NaN,250250
...,...,...
YOUTH CORRECTIONS SUPERVISOR,50,NaN
YOUTH COUNSELOR,NaN,193.25100293.5120.5124.6100201.2
YOUTH COUNTRY CHAIR,NaN,250
YOUTH DEVELOPMENT,10010010050100100100,NaN
YOUTH DIRECTOR,2525010096.2578.75,25025201.220.1250
YOUTH MINISTER,25010010010010075,2520.1210020.12502525251525250200
YOUTH MINISTRY,NaN,250
YOUTH OUTREACH DIRECTOR,NaN,1000
YOUTH PASTOR,NaN,10502525505010025
YOUTH PROGRAMS DIRECTOR,25252525255252525,NaN
YOUTH SERVICE AIDE,NaN,252538.6
YOUTH SERVICE COORDINATOR,25025252525252525,NaN
YOUTH SERVICES LIBRARIAN,10010090,NaN
YOUTH SERVICES MANAGER,300,NaN
YOUTH SPECIALIST,100100100324195130,NaN
YOUTH SPORTS DIRECTOR,110,NaN
YOUTH VOTE DIRECTOR,165,NaN
YOUTH WORKER,NaN,10020.1221.52520.1225502510010025250250
ZEN BUDDHIST PRIEST,100300,NaN
ZEN TEACHER,100,NaN
ZEPPOS AND ASSOCIATES,1000,NaN
ZIMMERMANS DAIRY,NaN,52.8105105.91
ZMS,NaN,20.1250
ZOMBIE SLAYER,NaN,25100
ZONE MANAGER,253575,NaN
ZOOKEEPER,35,NaN
ZOOLOGIST,200100100,NaN
ZOOLOGY EDUCATION,25,NaN
\NONE\,NaN,250
~,NaN,75

这段有问题，跳过了

### 对出资额分组

In [43]:
bins = np.array([0, 1, 10, 100, 1000, 10000, 100000, 1000000, 10000000])

这段也有问题