## 3.3.2 使用修改器

In [1]:
import pymongo
from pymongo import MongoClient

In [2]:
client = MongoClient()

In [3]:
db = client.test

In [4]:
t = db.t

In [5]:
t

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'test'), 't')

In [6]:
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'test')

In [7]:
from pprint import pprint

In [10]:
for item in t.find():
    pprint(item)

{'_id': ObjectId('59aa5a0d498ab1156d680dbf'),
 'relationship': {'enemies': 2, 'friend': 32},
 'username': 'joe'}
{'_id': ObjectId('59aa5daf498ab1156d680dc0'),
 'enemies': 2,
 'friends': 65,
 'name': 'joe'}
{'_id': ObjectId('59aa5db5498ab1156d680dc1'),
 'enemies': 2,
 'friends': 21,
 'name': 'joe'}
{'_id': ObjectId('59aa5dba498ab1156d680dc2'),
 'enemies': 4,
 'friends': 49,
 'name': 'joe'}

In [12]:
t.drop()

In [13]:
t

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'test'), 't')

In [14]:
for item in t.find():
    pprint(item)

In [16]:
a = {
    'url': 'www.example.com',
    'pageveiws': 52
}

In [17]:
t.insert_one(a)

In [23]:
t.update_one({'url': 'www.example.com'},
             {'$inc': {'pageviews': 1}})

In [19]:
help(t.update)

Help on method update in module pymongo.collection:

update(spec, document, upsert=False, manipulate=False, multi=False, check_keys=True, **kwargs) method of pymongo.collection.Collection instance
    Update a document(s) in this collection.

    **DEPRECATED** - Use :meth:`replace_one`, :meth:`update_one`, or
    :meth:`update_many` instead.

    .. versionchanged:: 3.0
       Removed the `safe` parameter. Pass ``w=0`` for unacknowledged write
       operations.

In [25]:
t.find_one()

{'_id': ObjectId('59aa73cb498ab115d729cc52'),
 'pageveiws': 52,
 'pageviews': 2,
 'url': 'www.example.com'}

### 1."$set"修改器入门

In [26]:
t.drop()

In [27]:
a = {
    'name': 'joe',
    'age': 30,
    'sex': 'male',
    'location': 'Wisconsin'
}

In [28]:
t.insert_one(a)

In [29]:
t.find_one()

{'_id': ObjectId('59aa7530498ab115d729cc53'),
 'age': 30,
 'location': 'Wisconsin',
 'name': 'joe',
 'sex': 'male'}

In [30]:
from bson.objectid import ObjectId

In [32]:
t.update_one({'_id': ObjectId('59aa7530498ab115d729cc53')},
             {'$set': {'favorite book': 'War and Peace'}})

In [33]:
t.find_one()

{'_id': ObjectId('59aa7530498ab115d729cc53'),
 'age': 30,
 'favorite book': 'War and Peace',
 'location': 'Wisconsin',
 'name': 'joe',
 'sex': 'male'}

In [34]:
t.update_one({'age': 30},
             {'$set': {'favorite book': 'Green Eggs and Ham'}})

In [36]:
t.find_one()

{'_id': ObjectId('59aa7530498ab115d729cc53'),
 'age': 30,
 'favorite book': 'Green Eggs and Ham',
 'location': 'Wisconsin',
 'name': 'joe',
 'sex': 'male'}

In [37]:
t.update_one({'name': 'joe'},
             {'$set': {'favorite book': 
                      ["Cat's Cradle", 'Foundation Trilogy', "Ender's Game"]}})

In [38]:
t.find_one()

{'_id': ObjectId('59aa7530498ab115d729cc53'),
 'age': 30,
 'favorite book': ["Cat's Cradle", 'Foundation Trilogy', "Ender's Game"],
 'location': 'Wisconsin',
 'name': 'joe',
 'sex': 'male'}

In [41]:
t.update_one({'name': 'joe'},
             {'$unset': {'favorite book': 1}})

In [42]:
t.find_one()

{'_id': ObjectId('59aa7530498ab115d729cc53'),
 'age': 30,
 'location': 'Wisconsin',
 'name': 'joe',
 'sex': 'male'}

In [46]:
t.update_one({'name': 'joe'},
             {'$set': {"location['city']": 'XXX'}})

In [47]:
t.find_one()

{'_id': ObjectId('59aa7530498ab115d729cc53'),
 'age': 30,
 'location': 'Wisconsin',
 "location['city']": 'XXX',
 'name': 'joe',
 'sex': 'male'}

In [48]:
t.drop()

In [51]:
a =  {
    'title': 'A Blog Post',
    'content': '...',
    'author': {
        'name': 'joe',
        'email': 'joe@example.com'
    }
}

In [52]:
t.insert_one(a)

In [54]:
pprint(t.find_one())

{'_id': ObjectId('59aa77fa498ab115d729cc54'),
 'author': {'email': 'joe@example.com', 'name': 'joe'},
 'content': '...',
 'title': 'A Blog Post'}

In [55]:
t.update_one({'author.name': 'joe'},
             {'$set': {'author.name': 'joe schmoe'}})

In [56]:
t.find_one()

{'_id': ObjectId('59aa77fa498ab115d729cc54'),
 'author': {'email': 'joe@example.com', 'name': 'joe schmoe'},
 'content': '...',
 'title': 'A Blog Post'}

### 2.增加和减少

In [58]:
t.insert_one({'game': 'pinball', 'user': 'joe'},
              {'$inc': {'score': 50}})

In [59]:
t.find_one()

{'_id': ObjectId('59aa77fa498ab115d729cc54'),
 'author': {'email': 'joe@example.com', 'name': 'joe schmoe'},
 'content': '...',
 'title': 'A Blog Post'}

In [62]:
t.delete_one({'_id': ObjectId('59aa77fa498ab115d729cc54')})

In [63]:
t.find_one()

{'_id': ObjectId('59aa8e73498ab115d729cc55'), 'game': 'pinball', 'user': 'joe'}

In [64]:
t.update_one({'game': 'pinball', 'user': 'joe'},
             {'$inc': {'score': 50}})

In [65]:
t.find_one()

{'_id': ObjectId('59aa8e73498ab115d729cc55'),
 'game': 'pinball',
 'score': 50,
 'user': 'joe'}

In [66]:
t.update_one({'game': 'pinball'},
             {'$inc': {'score': 10000}})

In [68]:
t.find_one()

{'_id': ObjectId('59aa8e73498ab115d729cc55'),
 'game': 'pinball',
 'score': 10050,
 'user': 'joe'}

In [70]:
t.insert_one({'count': '1'})

In [72]:
t.update_one({'count': '1'}, 
             {'$inc': {'count': 1}})

WriteError: Cannot apply $inc to a value of non-numeric type. {_id: ObjectId('59aa905e498ab115d729cc56')} has the field 'count' of non-numeric type string

### 3.数组修改器

### 4.添加元素

In [74]:
t.delete_one({'count': 1})

In [75]:
t.find_one()

{'_id': ObjectId('59aa8e73498ab115d729cc55'),
 'game': 'pinball',
 'score': 10050,
 'user': 'joe'}

In [76]:
t.drop()

In [77]:
t.insert_one(a)

In [78]:
t.find_one()

{'_id': ObjectId('59aa77fa498ab115d729cc54'),
 'author': {'email': 'joe@example.com', 'name': 'joe'},
 'content': '...',
 'title': 'A Blog Post'}

In [80]:
t.find_one({'comments': 0})

In [83]:
t.update_one({'title': 'A Blog Post'},
             {'$push': {'comments':
                       {'name': 'bob',
                        'email': 'bob@example.com',
                        'content': 'good post.'}}})

In [84]:
t.find_one()

{'_id': ObjectId('59aa77fa498ab115d729cc54'),
 'author': {'email': 'joe@example.com', 'name': 'joe'},
 'comments': [{'content': 'good post.',
   'email': 'bob@example.com',
   'name': 'bob'}],
 'content': '...',
 'title': 'A Blog Post'}

In [87]:
 t.update_one({'title': 'A Blog Post'},
              {'$push': {'hourly': 
                        {'$each': [1, 2, 3]}}})

In [88]:
t.find_one()

{'_id': ObjectId('59aa77fa498ab115d729cc54'),
 'author': {'email': 'joe@example.com', 'name': 'joe'},
 'comments': [{'content': 'good post.',
   'email': 'bob@example.com',
   'name': 'bob'}],
 'content': '...',
 'hourly': [1, 2, 3],
 'title': 'A Blog Post'}

In [89]:
 t.update_one({'title': 'A Blog Post'},
              {'$push': {'weekly': [1, 2, 3]}})

In [90]:
t.find_one()

{'_id': ObjectId('59aa77fa498ab115d729cc54'),
 'author': {'email': 'joe@example.com', 'name': 'joe'},
 'comments': [{'content': 'good post.',
   'email': 'bob@example.com',
   'name': 'bob'}],
 'content': '...',
 'hourly': [1, 2, 3],
 'title': 'A Blog Post',
 'weekly': [[1, 2, 3]]}

In [91]:
 t.update_one({'title': 'A Blog Post'},
              {'$push': {'monthly': 1, 2, 3}})

SyntaxError: invalid syntax (<ipython-input-91-abb0f2d0c69d>, line 2)

In [100]:
t.update_one({'title': 'A Blog Post'},
           {'$push': {'top10':
                {'$each': ['Nightmare on Elm Street', 'Saw'],
                 '$slice': -10}}})

In [101]:
t.find_one()

{'_id': ObjectId('59aa77fa498ab115d729cc54'),
 'author': {'email': 'joe@example.com', 'name': 'joe'},
 'comments': [{'content': 'good post.',
   'email': 'bob@example.com',
   'name': 'bob'}],
 'content': '...',
 'hourly': [1, 2, 3],
 'title': 'A Blog Post',
 'top10': ['Saw', 'Nightmare on Elm Street', 'Saw'],
 'weekly': [[1, 2, 3]]}

In [105]:
t.update_one({'title': 'A Blog Post'},
           {'$push': {'top10':
                {'$each': ['Nightmare on Elm Street', 'Saw'],
                 '$slice': -1}}})

In [106]:
t.find_one()

{'_id': ObjectId('59aa77fa498ab115d729cc54'),
 'author': {'email': 'joe@example.com', 'name': 'joe'},
 'comments': [{'content': 'good post.',
   'email': 'bob@example.com',
   'name': 'bob'}],
 'content': '...',
 'hourly': [1, 2, 3],
 'title': 'A Blog Post',
 'top10': ['Saw'],
 'weekly': [[1, 2, 3]]}

In [108]:
t.update_one({'title': 'A Blog Post'},
             {'$push': {'top100':
                {'$each': [{'name': 'Nightmare on Elm Street', 'rating': 6.6},
                           {'name': 'Saw', 'rating': 4.3}],
                '$slice': -10,
                '$sort': {'rating': -1}}}})

In [109]:
t.find_one()

{'_id': ObjectId('59aa77fa498ab115d729cc54'),
 'author': {'email': 'joe@example.com', 'name': 'joe'},
 'comments': [{'content': 'good post.',
   'email': 'bob@example.com',
   'name': 'bob'}],
 'content': '...',
 'hourly': [1, 2, 3],
 'title': 'A Blog Post',
 'top10': ['Saw'],
 'top100': [{'name': 'Nightmare on Elm Street', 'rating': 6.6},
  {'name': 'Saw', 'rating': 4.3}],
 'weekly': [[1, 2, 3]]}

In [110]:
t.update_one({'title': 'A Blog Post'},
             {'$push': {'top1000':
                {'$each': [{'name': 'Nightmare on Elm Street', 'rating': 6.6},
                           {'name': 'Saw', 'rating': 4.3}],
                '$slice': -10,
                '$sort': {'rating': 1}}}})

In [111]:
t.find_one()

{'_id': ObjectId('59aa77fa498ab115d729cc54'),
 'author': {'email': 'joe@example.com', 'name': 'joe'},
 'comments': [{'content': 'good post.',
   'email': 'bob@example.com',
   'name': 'bob'}],
 'content': '...',
 'hourly': [1, 2, 3],
 'title': 'A Blog Post',
 'top10': ['Saw'],
 'top100': [{'name': 'Nightmare on Elm Street', 'rating': 6.6},
  {'name': 'Saw', 'rating': 4.3}],
 'top1000': [{'name': 'Saw', 'rating': 4.3},
  {'name': 'Nightmare on Elm Street', 'rating': 6.6}],
 'weekly': [[1, 2, 3]]}

### 5.将数组作为数据集使用