# 分组级运算和转换

In [3]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
df = DataFrame({'data1': np.random.randn(5),
                'data2': np.random.randn(5),
                'key1': ['a', 'a', 'b', 'b', 'a'],
                'key2': ['one', 'two', 'one', 'two', 'one']})

In [3]:
df

      data1     data2 key1 key2
0 -1.814257  0.038806    a  one
1  1.324289 -0.027195    a  two
2  0.377855  0.375484    b  one
3  0.596984 -0.902293    b  two
4  0.988804  0.127991    a  one

In [4]:
k1_means = df.groupby('key1').mean().add_prefix('mean_')

In [6]:
k1_means

      mean_data1  mean_data2
key1
a       0.166279    0.046534
b       0.487419   -0.263404

In [7]:
pd.merge(df, k1_means, left_on='key1', right_index=True)

      data1     data2 key1 key2  mean_data1  mean_data2
0 -1.814257  0.038806    a  one    0.166279    0.046534
1  1.324289 -0.027195    a  two    0.166279    0.046534
4  0.988804  0.127991    a  one    0.166279    0.046534
2  0.377855  0.375484    b  one    0.487419   -0.263404
3  0.596984 -0.902293    b  two    0.487419   -0.263404

In [8]:
people = DataFrame(np.random.randn(5, 5), columns=['a', 'b', 'c', 'd', 'e'],
                   index=['Joe', 'Steve', 'Wes', 'Jim', 'Travis'])

In [9]:
people

               a         b         c         d         e
Joe    -0.429260 -1.263309 -0.328558 -0.864608 -1.362949
Steve   0.713838 -1.322913  0.000867 -1.473910  0.197219
Wes    -1.061702  2.024624  0.227576  0.117309  0.771882
Jim     0.096472 -1.216432  0.596207  0.823068  1.275349
Travis -0.397328 -1.501197  1.837465 -0.601157 -0.296664

In [10]:
key = ['one', 'two', 'one', 'two', 'one']

In [12]:
people.groupby(key).mean()

            a         b         c         d         e
one -0.629430 -0.246628  0.578828 -0.449485 -0.295911
two  0.405155 -1.269673  0.298537 -0.325421  0.736284

In [13]:
people.groupby(key).transform(np.mean)

               a         b         c         d         e
Joe    -0.629430 -0.246628  0.578828 -0.449485 -0.295911
Steve   0.405155 -1.269673  0.298537 -0.325421  0.736284
Wes    -0.629430 -0.246628  0.578828 -0.449485 -0.295911
Jim     0.405155 -1.269673  0.298537 -0.325421  0.736284
Travis -0.629430 -0.246628  0.578828 -0.449485 -0.295911

In [14]:
def demean(arr):
    return arr - arr.mean()

In [15]:
demeaned = people.groupby(key).transform(demean)

In [16]:
demeaned

               a         b         c         d         e
Joe     0.200170 -1.016682 -0.907386 -0.415123 -1.067039
Steve   0.308683 -0.053241 -0.297670 -1.148489 -0.539065
Wes    -0.432272  2.271251 -0.351252  0.566795  1.067793
Jim    -0.308683  0.053241  0.297670  1.148489  0.539065
Travis  0.232102 -1.254570  1.258638 -0.151672 -0.000754

In [17]:
demeaned.groupby(key).mean()

                a             b    c             d             e
one -5.551115e-17 -7.401487e-17  0.0 -3.700743e-17  1.850372e-17
two  2.775558e-17  0.000000e+00  0.0  0.000000e+00 -5.551115e-17

In [18]:
demeaned.mean()

a   -2.220446e-17
b   -4.440892e-17
c    0.000000e+00
d   -3.330669e-17
e    1.110223e-17
dtype: float64

## apply：一般性的“拆分-应用-合并”

In [19]:
tips = pd.read_csv('/Users/wonderful/Desktop/tips.csv')

In [20]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [21]:
tips['tip_pct'] = tips['tip'] / tips['total_bill']

In [22]:
tips.head()

   total_bill   tip     sex smoker  day    time  size   tip_pct
0       16.99  1.01  Female     No  Sun  Dinner     2  0.059447
1       10.34  1.66    Male     No  Sun  Dinner     3  0.160542
2       21.01  3.50    Male     No  Sun  Dinner     3  0.166587
3       23.68  3.31    Male     No  Sun  Dinner     2  0.139780
4       24.59  3.61  Female     No  Sun  Dinner     4  0.146808

In [25]:
def top(df, n=5, column='tip_pct'):
    return df.sort_values(by=column)[-n:]

In [26]:
top(tips, n=6)

     total_bill   tip     sex smoker  day    time  size   tip_pct
109       14.31  4.00  Female    Yes  Sat  Dinner     2  0.279525
183       23.17  6.50    Male    Yes  Sun  Dinner     4  0.280535
232       11.61  3.39    Male     No  Sat  Dinner     2  0.291990
67         3.07  1.00  Female    Yes  Sat  Dinner     1  0.325733
178        9.60  4.00  Female    Yes  Sun  Dinner     2  0.416667
172        7.25  5.15    Male    Yes  Sun  Dinner     2  0.710345

In [27]:
tips.groupby('smoker').apply(top)

            total_bill   tip     sex smoker   day    time  size   tip_pct
smoker
No     88        24.71  5.85    Male     No  Thur   Lunch     2  0.236746
       185       20.69  5.00    Male     No   Sun  Dinner     5  0.241663
       51        10.29  2.60  Female     No   Sun  Dinner     2  0.252672
       149        7.51  2.00    Male     No  Thur   Lunch     2  0.266312
       232       11.61  3.39    Male     No   Sat  Dinner     2  0.291990
Yes    109       14.31  4.00  Female    Yes   Sat  Dinner     2  0.279525
       183       23.17  6.50    Male    Yes   Sun  Dinner     4  0.280535
       67         3.07  1.00  Female    Yes   Sat  Dinner     1  0.325733
       178        9.60  4.00  Female    Yes   Sun  Dinner     2  0.416667
       172        7.25  5.15    Male    Yes   Sun  Dinner     2  0.710345

In [28]:
tips.groupby(['smoker', 'day']).apply(top, n=1, column='total_bill')

                 total_bill    tip     sex smoker   day    time  size  \
smoker day
No     Fri  94        22.75   3.25  Female     No   Fri  Dinner     2
       Sat  212       48.33   9.00    Male     No   Sat  Dinner     4
       Sun  156       48.17   5.00    Male     No   Sun  Dinner     6
       Thur 142       41.19   5.00    Male     No  Thur   Lunch     5
Yes    Fri  95        40.17   4.73    Male    Yes   Fri  Dinner     4
       Sat  170       50.81  10.00    Male    Yes   Sat  Dinner     3
       Sun  182       45.35   3.50    Male    Yes   Sun  Dinner     3
       Thur 197       43.11   5.00  Female    Yes  Thur   Lunch     4

                  tip_pct
smoker day
No     Fri  94   0.142857
       Sat  212  0.186220
       Sun  156  0.103799
       Thur 142  0.121389
Yes    Fri  95   0.117750
       Sat  170  0.196812
       Sun  182  0.077178
       Thur 197  0.115982

In [29]:
result = tips.groupby('smoker')['tip_pct'].describe()

In [30]:
result

smoker
No      count    151.000000
        mean       0.159328
        std        0.039910
        min        0.056797
        25%        0.136906
        50%        0.155625
        75%        0.185014
        max        0.291990
Yes     count     93.000000
        mean       0.163196
        std        0.085119
        min        0.035638
        25%        0.106771
        50%        0.153846
        75%        0.195059
        max        0.710345
Name: tip_pct, dtype: float64

    f = lambda x: x.describe()
    grouped.apply(f)

### 禁止分组键

In [33]:
tips.groupby('smoker', group_keys=False).apply(top)

     total_bill   tip     sex smoker   day    time  size   tip_pct
88        24.71  5.85    Male     No  Thur   Lunch     2  0.236746
185       20.69  5.00    Male     No   Sun  Dinner     5  0.241663
51        10.29  2.60  Female     No   Sun  Dinner     2  0.252672
149        7.51  2.00    Male     No  Thur   Lunch     2  0.266312
232       11.61  3.39    Male     No   Sat  Dinner     2  0.291990
109       14.31  4.00  Female    Yes   Sat  Dinner     2  0.279525
183       23.17  6.50    Male    Yes   Sun  Dinner     4  0.280535
67         3.07  1.00  Female    Yes   Sat  Dinner     1  0.325733
178        9.60  4.00  Female    Yes   Sun  Dinner     2  0.416667
172        7.25  5.15    Male    Yes   Sun  Dinner     2  0.710345

## 分位数和桶分析

In [34]:
frame = DataFrame({'data1': np.random.randn(1000),
                   'data2': np.random.randn(1000)})

In [35]:
frame.head()

      data1     data2
0  0.548462 -0.919138
1  0.728976 -0.917931
2 -0.472731  0.181019
3  2.177589 -1.223051
4 -0.309767 -0.675042

In [36]:
factor = pd.cut(frame.data1, 4)

In [37]:
factor

0       (0.0602, 1.748]
1       (0.0602, 1.748]
2      (-1.628, 0.0602]
3        (1.748, 3.437]
4      (-1.628, 0.0602]
5       (0.0602, 1.748]
6       (0.0602, 1.748]
7      (-1.628, 0.0602]
8       (0.0602, 1.748]
9       (0.0602, 1.748]
10     (-1.628, 0.0602]
11     (-1.628, 0.0602]
12     (-1.628, 0.0602]
13      (0.0602, 1.748]
14     (-1.628, 0.0602]
15     (-1.628, 0.0602]
16      (0.0602, 1.748]
17     (-1.628, 0.0602]
18      (0.0602, 1.748]
19     (-1.628, 0.0602]
20     (-1.628, 0.0602]
21     (-1.628, 0.0602]
22      (0.0602, 1.748]
23     (-1.628, 0.0602]
24      (0.0602, 1.748]
25      (0.0602, 1.748]
26     (-1.628, 0.0602]
27      (0.0602, 1.748]
28     (-1.628, 0.0602]
29     (-1.628, 0.0602]
             ...
970     (0.0602, 1.748]
971     (0.0602, 1.748]
972    (-1.628, 0.0602]
973     (0.0602, 1.748]
974    (-1.628, 0.0602]
975     (0.0602, 1.748]
976    (-1.628, 0.0602]
977    (-1.628, 0.0602]
978     (0.0602, 1.748]
979     (0.0602, 1.748]
980    (-1.628, 0.0602]
981     (0.0602, 1.748]
982    (-1.628, 0.0602]
983    (-1.628, 0.0602]
984    (-1.628, 0.0602]
985     (0.0602, 1.748]
986    (-1.628, 0.0602]
987    (-3.323, -1.628]
988    (-1.628, 0.0602]
989     (0.0602, 1.748]
990    (-1.628, 0.0602]
991    (-1.628, 0.0602]
992     (0.0602, 1.748]
993     (0.0602, 1.748]
994    (-1.628, 0.0602]
995    (-3.323, -1.628]
996     (0.0602, 1.748]
997    (-1.628, 0.0602]
998    (-1.628, 0.0602]
999    (-1.628, 0.0602]
Name: data1, dtype: category
Categories (4, object): [(-3.323, -1.628] < (-1.628, 0.0602] < (0.0602, 1.748] < (1.748, 3.437]]

In [45]:
def get_stats(group):
    return {'min': group.min(),
            'max': group.max(),
            'count': group.count(),
            'mean': group.mean()}

In [46]:
grouped = frame.data2.groupby(factor)

In [47]:
grouped.apply(get_stats).unstack()

                  count       max      mean       min
data1
(-3.323, -1.628]   51.0  1.991471  0.075976 -2.684453
(-1.628, 0.0602]  493.0  3.159579  0.062399 -2.497783
(0.0602, 1.748]   425.0  2.565868 -0.028307 -2.634201
(1.748, 3.437]     31.0  1.476265  0.006191 -1.799960

In [53]:
grouping = pd.cut(frame.data1, 10, labels=False)

In [54]:
grouping

0      5
1      5
2      4
3      8
4      4
5      7
6      5
7      2
8      6
9      5
10     2
11     2
12     4
13     5
14     4
15     3
16     6
17     4
18     5
19     3
20     4
21     3
22     5
23     3
24     6
25     6
26     3
27     5
28     4
29     3
      ..
970    6
971    5
972    3
973    6
974    4
975    5
976    3
977    3
978    6
979    5
980    4
981    5
982    3
983    4
984    3
985    5
986    4
987    1
988    4
989    6
990    3
991    4
992    5
993    5
994    4
995    1
996    5
997    3
998    3
999    4
Name: data1, dtype: int64

In [50]:
grouped = frame.data2.groupby(grouping)

In [52]:
grouped.apply(get_stats).unstack()

       count       max      mean       min
data1
0        4.0  1.487228 -0.645153 -2.684453
1       19.0  1.733038  0.464495 -1.022030
2       80.0  3.047608 -0.015249 -2.117688
3      203.0  2.691968  0.059184 -2.497783
4      238.0  3.159579  0.073942 -2.276516
5      242.0  2.537404 -0.071696 -2.327899
6      146.0  2.565868  0.004557 -2.634201
7       52.0  1.860296  0.156731 -1.799960
8       12.0  1.285315 -0.303861 -1.223051
9        4.0  0.876786  0.085682 -0.669022

## 示例：用特定于分组的值填充缺失值

In [55]:
s = Series(np.random.randn(6))

In [56]:
s[::2] = np.nan

In [57]:
s

0         NaN
1   -0.525966
2         NaN
3    1.997202
4         NaN
5    1.768397
dtype: float64

In [58]:
s.fillna(s.mean())

0    1.079878
1   -0.525966
2    1.079878
3    1.997202
4    1.079878
5    1.768397
dtype: float64

In [59]:
s

0         NaN
1   -0.525966
2         NaN
3    1.997202
4         NaN
5    1.768397
dtype: float64

In [62]:
states = ['Ohio', 'New York', 'Vermont', 'Florida',
         'Oregon', 'Nevada', 'California', 'Idaho']

In [61]:
group_key = ['East'] * 4 + ['West'] * 4

In [64]:
data = Series(np.random.randn(8), index=states)

In [67]:
data[['Vermont', 'Nevada', 'Idaho']] = np.nan

In [68]:
data

Ohio          0.067514
New York      1.949763
Vermont            NaN
Florida       1.819214
Oregon       -0.096585
Nevada             NaN
California   -0.553276
Idaho              NaN
dtype: float64

In [69]:
data.groupby(group_key).mean()

East    1.27883
West   -0.32493
dtype: float64

In [70]:
fill_mean = lambda g: g.fillna(g.mean())

In [71]:
data.groupby(group_key).apply(fill_mean)

Ohio          0.067514
New York      1.949763
Vermont       1.278830
Florida       1.819214
Oregon       -0.096585
Nevada       -0.324930
California   -0.553276
Idaho        -0.324930
dtype: float64

In [72]:
fill_values = {'East': 0.5, 'West': -1}

In [73]:
fill_func = lambda g: g.fillna(fill_values[g.name])

In [74]:
data.groupby(group_key).apply(fill_func)

Ohio          0.067514
New York      1.949763
Vermont       0.500000
Florida       1.819214
Oregon       -0.096585
Nevada       -1.000000
California   -0.553276
Idaho        -1.000000
dtype: float64

## 示例：随机采样和排列

In [91]:
[i for i in range(1, 11)] + [10] * 3

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10, 10, 10]

In [100]:
np.arange(1, 11).tolist()

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
suits = ['H', 'S', 'C', 'D']
card_val = ([i for i in range(1, 11)] + [10] * 3) * 4
base_names = ['A'] + [i for i in range(2, 11)] + ['J', 'K', 'Q']
cards = []
for suit in suits:
    cards.extend(str(num) + suit for num in base_names)
deck = Series(card_val, index=cards)

In [5]:
deck[:13]

AH      1
2H      2
3H      3
4H      4
5H      5
6H      6
7H      7
8H      8
9H      9
10H    10
JH     10
KH     10
QH     10
dtype: int64

In [6]:
def draw(deck, n=5):
    return deck.take(np.random.permutation(len(deck))[:n])

In [105]:
draw(deck)

2D    2
6H    6
9C    9
5C    5
AS    1
dtype: int64

In [7]:
get_suit = lambda card: card [-1]

In [8]:
deck.groupby(get_suit).apply(draw, n=2)

C  AC     1
   7C     7
D  3D     3
   6D     6
H  9H     9
   KH    10
S  4S     4
   6S     6
dtype: int64

In [9]:
deck.groupby(get_suit, group_keys=False).apply(draw, n=2)

10C    10
KC     10
10D    10
5D      5
6H      6
2H      2
QS     10
AS      1
dtype: int64

## 示例：分组加权平均数和相关系数

In [10]:
df = DataFrame({'category': ['a', 'a', 'a', 'a', 'b', 'b', 'b', 'b'],
                'data': np.random.randn(8),
                'weights': np.random.rand(8)})

In [11]:
df

  category      data   weights
0        a  0.096594  0.203316
1        a  1.126087  0.774290
2        a  1.260231  0.502520
3        a -1.295695  0.241776
4        b  1.290273  0.680406
5        b  0.188544  0.583551
6        b  0.715995  0.616298
7        b  2.195155  0.466144

In [12]:
grouped = df.groupby('category')

In [13]:
get_wavg = lambda g: np.average(g['data'], weights=g['weights'])

In [14]:
grouped.apply(get_wavg)

category
a    0.703630
b    1.045201
dtype: float64

In [36]:
close_px = pd.read_csv('/Users/wonderful/Desktop/stock_px.csv', parse_dates=True, index_col=0)

In [37]:
close_px

              AAPL   MSFT    XOM      SPX
2003-01-02    7.40  21.11  29.22   909.03
2003-01-03    7.45  21.14  29.24   908.59
2003-01-06    7.45  21.52  29.96   929.01
2003-01-07    7.43  21.93  28.95   922.93
2003-01-08    7.28  21.31  28.83   909.93
2003-01-09    7.34  21.93  29.44   927.57
2003-01-10    7.36  21.97  29.03   927.57
2003-01-13    7.32  22.16  28.91   926.26
2003-01-14    7.30  22.39  29.17   931.66
2003-01-15    7.22  22.11  28.77   918.22
2003-01-16    7.31  21.75  28.90   914.60
2003-01-17    7.05  20.22  28.60   901.78
2003-01-21    7.01  20.17  27.94   887.62
2003-01-22    6.94  20.04  27.58   878.36
2003-01-23    7.09  20.54  27.52   887.34
2003-01-24    6.90  19.59  26.93   861.40
2003-01-27    7.07  19.32  26.21   847.48
2003-01-28    7.29  19.18  26.90   858.54
2003-01-29    7.47  19.61  27.88   864.36
2003-01-30    7.16  18.95  27.37   844.61
2003-01-31    7.18  18.65  28.13   855.70
2003-02-03    7.33  19.08  28.52   860.32
2003-02-04    7.30  18.59  28.52   848.20
2003-02-05    7.22  18.45  28.11   843.59
2003-02-06    7.22  18.63  27.87   838.15
2003-02-07    7.07  18.30  27.66   829.69
2003-02-10    7.18  18.62  27.87   835.97
2003-02-11    7.18  18.25  27.67   829.20
2003-02-12    7.20  18.25  27.12   818.68
2003-02-13    7.27  18.46  27.47   817.37
...            ...    ...    ...      ...
2011-09-02  374.05  25.80  72.14  1173.97
2011-09-06  379.74  25.51  71.15  1165.24
2011-09-07  383.93  26.00  73.65  1198.62
2011-09-08  384.14  26.22  72.82  1185.90
2011-09-09  377.48  25.74  71.01  1154.23
2011-09-12  379.94  25.89  71.84  1162.27
2011-09-13  384.62  26.04  71.65  1172.87
2011-09-14  389.30  26.50  72.64  1188.68
2011-09-15  392.96  26.99  74.01  1209.11
2011-09-16  400.50  27.12  74.55  1216.01
2011-09-19  411.63  27.21  73.70  1204.09
2011-09-20  413.45  26.98  74.01  1202.09
2011-09-21  412.14  25.99  71.97  1166.76
2011-09-22  401.82  25.06  69.24  1129.56
2011-09-23  404.30  25.06  69.31  1136.43
2011-09-26  403.17  25.44  71.72  1162.95
2011-09-27  399.26  25.67  72.91  1175.38
2011-09-28  397.01  25.58  72.07  1151.06
2011-09-29  390.57  25.45  73.88  1160.40
2011-09-30  381.32  24.89  72.63  1131.42
2011-10-03  374.60  24.53  71.15  1099.23
2011-10-04  372.50  25.34  72.83  1123.95
2011-10-05  378.25  25.89  73.95  1144.03
2011-10-06  377.37  26.34  73.89  1164.97
2011-10-07  369.80  26.25  73.56  1155.46
2011-10-10  388.81  26.94  76.28  1194.89
2011-10-11  400.29  27.00  76.27  1195.54
2011-10-12  402.19  26.96  77.16  1207.25
2011-10-13  408.43  27.18  76.37  1203.66
2011-10-14  422.00  27.27  78.11  1224.58

[2214 rows x 4 columns]

In [38]:
close_px[-4:]

              AAPL   MSFT    XOM      SPX
2011-10-11  400.29  27.00  76.27  1195.54
2011-10-12  402.19  26.96  77.16  1207.25
2011-10-13  408.43  27.18  76.37  1203.66
2011-10-14  422.00  27.27  78.11  1224.58

In [39]:
data.head()

   AAPL   MSFT    XOM     SPX
0  7.40  21.11  29.22  909.03
1  7.45  21.14  29.24  908.59
2  7.45  21.52  29.96  929.01
3  7.43  21.93  28.95  922.93
4  7.28  21.31  28.83  909.93

In [40]:
rets = close_px.pct_change().dropna()

In [41]:
rets

                AAPL      MSFT       XOM       SPX
2003-01-03  0.006757  0.001421  0.000684 -0.000484
2003-01-06  0.000000  0.017975  0.024624  0.022474
2003-01-07 -0.002685  0.019052 -0.033712 -0.006545
2003-01-08 -0.020188 -0.028272 -0.004145 -0.014086
2003-01-09  0.008242  0.029094  0.021159  0.019386
2003-01-10  0.002725  0.001824 -0.013927  0.000000
2003-01-13 -0.005435  0.008648 -0.004134 -0.001412
2003-01-14 -0.002732  0.010379  0.008993  0.005830
2003-01-15 -0.010959 -0.012506 -0.013713 -0.014426
2003-01-16  0.012465 -0.016282  0.004519 -0.003942
2003-01-17 -0.035568 -0.070345 -0.010381 -0.014017
2003-01-21 -0.005674 -0.002473 -0.023077 -0.015702
2003-01-22 -0.009986 -0.006445 -0.012885 -0.010432
2003-01-23  0.021614  0.024950 -0.002175  0.010224
2003-01-24 -0.026798 -0.046251 -0.021439 -0.029233
2003-01-27  0.024638 -0.013783 -0.026736 -0.016160
2003-01-28  0.031117 -0.007246  0.026326  0.013050
2003-01-29  0.024691  0.022419  0.036431  0.006779
2003-01-30 -0.041499 -0.033656 -0.018293 -0.022849
2003-01-31  0.002793 -0.015831  0.027768  0.013130
2003-02-03  0.020891  0.023056  0.013864  0.005399
2003-02-04 -0.004093 -0.025681  0.000000 -0.014088
2003-02-05 -0.010959 -0.007531 -0.014376 -0.005435
2003-02-06  0.000000  0.009756 -0.008538 -0.006449
2003-02-07 -0.020776 -0.017713 -0.007535 -0.010094
2003-02-10  0.015559  0.017486  0.007592  0.007569
2003-02-11  0.000000 -0.019871 -0.007176 -0.008098
2003-02-12  0.002786  0.000000 -0.019877 -0.012687
2003-02-13  0.009722  0.011507  0.012906 -0.001600
2003-02-14  0.009629  0.028169  0.009465  0.021435
...              ...       ...       ...       ...
2011-09-02 -0.018319 -0.015643 -0.018370 -0.025282
2011-09-06  0.015212 -0.011240 -0.013723 -0.007436
2011-09-07  0.011034  0.019208  0.035137  0.028646
2011-09-08  0.000547  0.008462 -0.011270 -0.010612
2011-09-09 -0.017337 -0.018307 -0.024856 -0.026705
2011-09-12  0.006517  0.005828  0.011688  0.006966
2011-09-13  0.012318  0.005794 -0.002645  0.009120
2011-09-14  0.012168  0.017665  0.013817  0.013480
2011-09-15  0.009401  0.018491  0.018860  0.017187
2011-09-16  0.019188  0.004817  0.007296  0.005707
2011-09-19  0.027790  0.003319 -0.011402 -0.009803
2011-09-20  0.004421 -0.008453  0.004206 -0.001661
2011-09-21 -0.003168 -0.036694 -0.027564 -0.029390
2011-09-22 -0.025040 -0.035783 -0.037932 -0.031883
2011-09-23  0.006172  0.000000  0.001011  0.006082
2011-09-26 -0.002795  0.015164  0.034771  0.023336
2011-09-27 -0.009698  0.009041  0.016592  0.010688
2011-09-28 -0.005635 -0.003506 -0.011521 -0.020691
2011-09-29 -0.016221 -0.005082  0.025114  0.008114
2011-09-30 -0.023683 -0.022004 -0.016919 -0.024974
2011-10-03 -0.017623 -0.014464 -0.020377 -0.028451
2011-10-04 -0.005606  0.033021  0.023612  0.022488
2011-10-05  0.015436  0.021705  0.015378  0.017866
2011-10-06 -0.002327  0.017381 -0.000811  0.018304
2011-10-07 -0.020060 -0.003417 -0.004466 -0.008163
2011-10-10  0.051406  0.026286  0.036977  0.034125
2011-10-11  0.029526  0.002227 -0.000131  0.000544
2011-10-12  0.004747 -0.001481  0.011669  0.009795
2011-10-13  0.015515  0.008160 -0.010238 -0.002974
2011-10-14  0.033225  0.003311  0.022784  0.017380

[2213 rows x 4 columns]

In [42]:
spx_corr = lambda x: x.corrwith(x['SPX'])

In [43]:
by_year = rets.groupby(lambda x: x.year)

In [44]:
by_year.apply(spx_corr)

          AAPL      MSFT       XOM  SPX
2003  0.541124  0.745174  0.661265  1.0
2004  0.374283  0.588531  0.557742  1.0
2005  0.467540  0.562374  0.631010  1.0
2006  0.428267  0.406126  0.518514  1.0
2007  0.508118  0.658770  0.786264  1.0
2008  0.681434  0.804626  0.828303  1.0
2009  0.707103  0.654902  0.797921  1.0
2010  0.710105  0.730118  0.839057  1.0
2011  0.691931  0.800996  0.859975  1.0

In [45]:
by_year.apply(lambda g: g['AAPL'].corr(g['MSFT']))

2003    0.480868
2004    0.259024
2005    0.300093
2006    0.161735
2007    0.417738
2008    0.611901
2009    0.432738
2010    0.571946
2011    0.581987
dtype: float64

## 示例：面向分组的线性回归

In [46]:
import statsmodels.api as sm
def regress(data, yvar, xvar):
    Y = data[yvar]
    X = data[xvar]
    X['intercept'] = 1.
    result = sm.OLS(Y, X).fit()
    return result.params

In [47]:
by_year.apply(regress, 'AAPL', ['SPX'])

           SPX  intercept
2003  1.195406   0.000710
2004  1.363463   0.004201
2005  1.766415   0.003246
2006  1.645496   0.000080
2007  1.198761   0.003438
2008  0.968016  -0.001110
2009  0.879103   0.002954
2010  1.052608   0.001261
2011  0.806605   0.001514