# 二进制数据格式

In [2]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [3]:
frame = pd.read_csv('/Users/wonderful/Documents/技术书籍/Data_Analysis_and_Finance_文件集合/Python_for_Data_Analysis/pydata-book-master/ch06/ex1.csv')

In [4]:
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [8]:
frame.save('frame_pickle')

AttributeError: 'DataFrame' object has no attribute 'save'

In [9]:
pd.load('frame_pickle')

AttributeError: module 'pandas' has no attribute 'load'

## 使用 HDF5 格式

In [10]:
store = pd.HDFStore('mydata.h5')

In [11]:
store['obj1'] = frame

In [12]:
store['obj1_col'] = frame['a']

In [13]:
store

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5
/obj1                frame        (shape->[3,5])
/obj1_col            series       (shape->[3])

In [14]:
store['obj1']

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

## 读取 Microsoft Excel 文件

In [18]:
xls_file = pd.ExcelFile('/Users/wonderful/Desktop/选股指标.xlsx')

In [19]:
xls_file

In [21]:
table = xls_file.parse('行情')

In [22]:
table

       开盘价
0      最高价
1      最低价
2      收盘价
3      成交量
4      成交额
5      换手率
6    当日换手率
7     周换手率
8    月度换手率
9    季度换手率
10  半年度换手率
11   年度换手率
12   当年换手率
13     收益率
14   5日收益率
15  10日收益率
16  20日收益率
17  30日收益率
18    上市天数
19    交易天数

## 使用 HTML 和 Web API

twitter 被墙，pass

## 使用数据库

In [31]:
import sqlite3

query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
 c REAL,        d INTEGER
);"""

con = sqlite3.connect(':memory:')
con.execute(query)
con.commit()

In [32]:
con

In [33]:
data = [('Atlanta', 'Georgia', 1.25, 6),
        ('Tallahassee', 'Florida', 2.6, 3),
        ('Sacramento', 'California', 1.7, 5)]
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"

con.executemany(stmt, data)
con.commit()

In [34]:
cursor = con.execute('select * from test')

In [35]:
rows = cursor.fetchall()

In [36]:
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [38]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [40]:
DataFrame(rows, columns=zip(*cursor.description)[0])

TypeError: 'zip' object is not subscriptable

In [42]:
import pandas.io.sql as sql

In [43]:
sql.read_frame('select * from test', con)

AttributeError: module 'pandas.io.sql' has no attribute 'read_frame'

## 存取 MongDB 中的数据

twitter, pass