In [1]:
import pymongo
from pymongo import MongoClient
from bson.objectid import ObjectId

In [2]:
db = MongoClient().test
t = db.t

# 4.1 find 简介

In [3]:
[_ for _ in t.find({})]

[{'_id': ObjectId('59b0018b498ab128eddb941b'),
  'email': 'joe@example.com',
  'others': 'miss',
  'username': 'joe'}]

In [4]:
[item for item in t.find({'priority': 0})]

[]

In [5]:
r = t.find({'priority': 0,
            'status': 'RUNNING'})

In [6]:
for item in r:
    print(item)

## 4.1.1 指定需要返回的键

In [7]:
help(t.find_one)

Help on method find_one in module pymongo.collection:

find_one(filter=None, *args, **kwargs) method of pymongo.collection.Collection instance
    Get a single document from the database.

    All arguments to :meth:`find` are also valid arguments for
    :meth:`find_one`, although any `limit` argument will be
    ignored. Returns a single document, or ``None`` if no matching
    document is found.

    The :meth:`find_one` method obeys the :attr:`read_preference` of
    this :class:`Collection`.

    :Parameters:

      - `filter` (optional): a dictionary specifying
        the query to be performed OR any other type to be used as
        the value for a query for ``"_id"``.

      - `*args` (optional): any additional positional arguments
        are the same as the arguments to :meth:`find`.

      - `**kwargs` (optional): any additional keyword arguments
        are the same as the arguments to :meth:`find`.

          >>> collection.find_one(max_time_ms=100)

In [8]:
t.drop()

In [9]:
a = {'username': 'joe', 
     'email': 'joe@example.com',
     'others': 'miss'}

In [10]:
t.insert_one(a)

In [11]:
t.find_one()

{'_id': ObjectId('59b0041b498ab129a8df09e9'),
 'email': 'joe@example.com',
 'others': 'miss',
 'username': 'joe'}

In [12]:
t.find_one({},
           {'username': 1,
            'email': 1})

{'_id': ObjectId('59b0041b498ab129a8df09e9'),
 'email': 'joe@example.com',
 'username': 'joe'}

In [13]:
t.find_one( ,
           {'username': 1,
            'email': 1})

SyntaxError: invalid syntax (<ipython-input-13-48efc1013fb3>, line 1)

In [14]:
t.find_one({}, 
       {'others': 0})

{'_id': ObjectId('59b0041b498ab129a8df09e9'),
 'email': 'joe@example.com',
 'username': 'joe'}

In [15]:
t.find_one({},
           {'_id': 0,
            'others': 0})

{'email': 'joe@example.com', 'username': 'joe'}

## 4.1.2 限制

    t.find_one({'in_stock': 0})

# 4.2 查询条件

## 4.2.1 查询条件

In [16]:
a = {'num': 1, 'age': 18}
b = {'num': 2, 'age': 28}
c = {'num': 4, 'age': 48}
d = {'num': 5, 'age': 43}
e = {'num': 6, 'age': 40}
f = {'num': 4, 'age': 30}
g = {'num': 7, 'age': 14}
h = {'num': 8, 'age': 12}
i = {'num': 1, 'age': 25}

In [17]:
t.drop()
t.insert_many([a, b, c, d, e, f, g, h, i])

In [18]:
from pprint import pprint

In [20]:
for item in t.find({'age': {'$gte': 18, '$lte': 30}}):
    pprint(item)

{'_id': ObjectId('59b00491498ab129a8df09ea'), 'age': 18, 'num': 1}
{'_id': ObjectId('59b00491498ab129a8df09eb'), 'age': 28, 'num': 2}
{'_id': ObjectId('59b00491498ab129a8df09ef'), 'age': 30, 'num': 4}
{'_id': ObjectId('59b00491498ab129a8df09f2'), 'age': 25, 'num': 1}

In [22]:
for item in t.find({'age': {'$gte': 18, '$lte': 30}},
                   {'num': 0}):
    pprint(item)

{'_id': ObjectId('59b00491498ab129a8df09ea'), 'age': 18}
{'_id': ObjectId('59b00491498ab129a8df09eb'), 'age': 28}
{'_id': ObjectId('59b00491498ab129a8df09ef'), 'age': 30}
{'_id': ObjectId('59b00491498ab129a8df09f2'), 'age': 25}

In [84]:
t.drop()

In [85]:
from datetime import datetime

In [86]:
type(datetime.now())

datetime.datetime

In [87]:
datetime.now()

datetime.datetime(2017, 9, 6, 23, 7, 22, 76251)

In [88]:
from dateutil.parser import parse

In [89]:
a = {'num': 1, 'datetime': datetime.now()}

In [90]:
b = {'num': 2, 'datetime': datetime.now()}

In [91]:
c = {'num': 3, 'datetime': datetime.now()}

In [92]:
c

{'datetime': datetime.datetime(2017, 9, 6, 23, 7, 23, 563655), 'num': 3}

In [93]:
d = {'num': 4, 'datetime': datetime.now()}

In [94]:
e = {'num': 5, 'datetime': datetime.now()}

In [95]:
f = {'num': 6, 'datetime': datetime.now()}

In [96]:
g = {'num': 7, 'datetime': datetime.now()}

In [97]:
t.insert_many([a, b, c, d, e, f, g])

In [101]:
[i for i in t.find()]

[{'_id': ObjectId('59b00f2e498ab129a8df09fa'),
  'datetime': datetime.datetime(2017, 9, 6, 23, 7, 22, 915000),
  'num': 1},
 {'_id': ObjectId('59b00f2e498ab129a8df09fb'),
  'datetime': datetime.datetime(2017, 9, 6, 23, 7, 23, 271000),
  'num': 2},
 {'_id': ObjectId('59b00f2e498ab129a8df09fc'),
  'datetime': datetime.datetime(2017, 9, 6, 23, 7, 23, 563000),
  'num': 3},
 {'_id': ObjectId('59b00f2e498ab129a8df09fd'),
  'datetime': datetime.datetime(2017, 9, 6, 23, 7, 24, 536000),
  'num': 4},
 {'_id': ObjectId('59b00f2e498ab129a8df09fe'),
  'datetime': datetime.datetime(2017, 9, 6, 23, 7, 25, 308000),
  'num': 5},
 {'_id': ObjectId('59b00f2e498ab129a8df09ff'),
  'datetime': datetime.datetime(2017, 9, 6, 23, 7, 25, 770000),
  'num': 6},
 {'_id': ObjectId('59b00f2e498ab129a8df0a00'),
  'datetime': datetime.datetime(2017, 9, 6, 23, 7, 26, 91000),
  'num': 7}]

In [105]:
for item in t.find({'datetime': {'$lt': c['datetime']}}):
    pprint(item)

{'_id': ObjectId('59b00f2e498ab129a8df09fa'),
 'datetime': datetime.datetime(2017, 9, 6, 23, 7, 22, 915000),
 'num': 1}
{'_id': ObjectId('59b00f2e498ab129a8df09fb'),
 'datetime': datetime.datetime(2017, 9, 6, 23, 7, 23, 271000),
 'num': 2}

In [107]:
for item in t.find({'num': {'$ne': 3}}):
    pprint(item)

{'_id': ObjectId('59b00f2e498ab129a8df09fa'),
 'datetime': datetime.datetime(2017, 9, 6, 23, 7, 22, 915000),
 'num': 1}
{'_id': ObjectId('59b00f2e498ab129a8df09fb'),
 'datetime': datetime.datetime(2017, 9, 6, 23, 7, 23, 271000),
 'num': 2}
{'_id': ObjectId('59b00f2e498ab129a8df09fd'),
 'datetime': datetime.datetime(2017, 9, 6, 23, 7, 24, 536000),
 'num': 4}
{'_id': ObjectId('59b00f2e498ab129a8df09fe'),
 'datetime': datetime.datetime(2017, 9, 6, 23, 7, 25, 308000),
 'num': 5}
{'_id': ObjectId('59b00f2e498ab129a8df09ff'),
 'datetime': datetime.datetime(2017, 9, 6, 23, 7, 25, 770000),
 'num': 6}
{'_id': ObjectId('59b00f2e498ab129a8df0a00'),
 'datetime': datetime.datetime(2017, 9, 6, 23, 7, 26, 91000),
 'num': 7}

## 4.2.2 OR 查询

In [108]:
t.drop()

In [109]:
a = [{'ticket_no': 1},
     {'ticket_no': 2},
     {'ticket_no': 3},
     {'ticket_no': 4},
     {'ticket_no': 5},
     {'ticket_no': 6},
     {'ticket_no': 7},
     {'ticket_no': 8}]

In [110]:
t.insert_many(a)

In [111]:
for item in t.find({'ticket_no': {'$in': [1, 2, 3]}}):
    pprint(item)

{'_id': ObjectId('59b01103498ab129a8df0a01'), 'ticket_no': 1}
{'_id': ObjectId('59b01103498ab129a8df0a02'), 'ticket_no': 2}
{'_id': ObjectId('59b01103498ab129a8df0a03'), 'ticket_no': 3}

In [112]:
t.insert_one({'ticket_no': 'miss'})

In [113]:
for item in t.find({'ticket_no': {'$in': [1, 2, 3, 'miss']}}):
    pprint(item)

{'_id': ObjectId('59b01103498ab129a8df0a01'), 'ticket_no': 1}
{'_id': ObjectId('59b01103498ab129a8df0a02'), 'ticket_no': 2}
{'_id': ObjectId('59b01103498ab129a8df0a03'), 'ticket_no': 3}
{'_id': ObjectId('59b011e4498ab129a8df0a09'), 'ticket_no': 'miss'}

In [114]:
for item in t.find({'ticket_no': {'$nin': [1, 2, 3, 'miss']}}):
    pprint(item)

{'_id': ObjectId('59b01103498ab129a8df0a04'), 'ticket_no': 4}
{'_id': ObjectId('59b01103498ab129a8df0a05'), 'ticket_no': 5}
{'_id': ObjectId('59b01103498ab129a8df0a06'), 'ticket_no': 6}
{'_id': ObjectId('59b01103498ab129a8df0a07'), 'ticket_no': 7}
{'_id': ObjectId('59b01103498ab129a8df0a08'), 'ticket_no': 8}