    由于 del.icio.us 网站变动，导致接口已经不能使用，且本书官方及 GitHub 上均无后续工程，因而暂时割下原书内容，另尝试其他内容。
    构想这样一种情形，将股票作为“商品”，而时间（每一个交易日）作为“顾客”，每个交易日的每一支股票（标准化之后）的加个作为“打分”，这样就构建了一个数据集。  
    可以直接用 tushare 拿到 DataFrame 格式的数据，随后归一化该时间序列。

In [1]:
import tushare as ts
import pandas as pd

In [2]:
data = ts.get_k_data('000001', index=True, start='2017-01-01', end='2017-01-31')
date = data['date']

In [3]:
stock_list = ['000001', '000004', '000005']
df = pd.DataFrame(index=date, columns=stock_list)
for stock in stock_list:
    data = ts.get_k_data(stock, start='2017-01-01', end='2017-01-31')
    data.set_index('date', inplace=True)
    df[stock] = data['close']
df

            000001  000004  000005
date
2017-01-03   9.026   44.45    6.83
2017-01-04   9.026   44.70    7.01
2017-01-05   9.036   44.44    6.97
2017-01-06   8.997   43.96    7.03
2017-01-09   9.016   43.01    7.07
2017-01-10   9.016   43.25    7.01
2017-01-11   9.007   42.45    6.86
2017-01-12   9.016   42.05    6.79
2017-01-13   9.026   41.00    6.68
2017-01-16   9.007   38.26    6.44
2017-01-17   9.016   37.37    6.48
2017-01-18   9.036   37.15    6.55
2017-01-19   9.046   35.69    6.44
2017-01-20   9.085   36.48    6.50
2017-01-23   9.085   37.56    6.53
2017-01-24   9.135   38.63    6.51
2017-01-25   9.125   38.25    6.52
2017-01-26   9.194   38.29    6.56

In [4]:
df = df.transform(lambda x: (x - x.min()) / (x.max() - x.min()))
df = df.applymap(lambda x: '%.2f' % x)

In [7]:
user_dict = df.T.to_dict()

In [8]:
user_dict

{'2017-01-03': {'000001': '0.15', '000004': '0.97', '000005': '0.62'},
 '2017-01-04': {'000001': '0.15', '000004': '1.00', '000005': '0.90'},
 '2017-01-05': {'000001': '0.20', '000004': '0.97', '000005': '0.84'},
 '2017-01-06': {'000001': '0.00', '000004': '0.92', '000005': '0.94'},
 '2017-01-09': {'000001': '0.10', '000004': '0.81', '000005': '1.00'},
 '2017-01-10': {'000001': '0.10', '000004': '0.84', '000005': '0.90'},
 '2017-01-11': {'000001': '0.05', '000004': '0.75', '000005': '0.67'},
 '2017-01-12': {'000001': '0.10', '000004': '0.71', '000005': '0.56'},
 '2017-01-13': {'000001': '0.15', '000004': '0.59', '000005': '0.38'},
 '2017-01-16': {'000001': '0.05', '000004': '0.29', '000005': '0.00'},
 '2017-01-17': {'000001': '0.10', '000004': '0.19', '000005': '0.06'},
 '2017-01-18': {'000001': '0.20', '000004': '0.16', '000005': '0.17'},
 '2017-01-19': {'000001': '0.25', '000004': '0.00', '000005': '0.00'},
 '2017-01-20': {'000001': '0.45', '000004': '0.09', '000005': '0.10'},
 '2017-01-23': {'000001': '0.45', '000004': '0.21', '000005': '0.14'},
 '2017-01-24': {'000001': '0.70', '000004': '0.33', '000005': '0.11'},
 '2017-01-25': {'000001': '0.65', '000004': '0.28', '000005': '0.13'},
 '2017-01-26': {'000001': '1.00', '000004': '0.29', '000005': '0.19'}}

    实际上这么做是没有意义的，所以这个想法也就到此为止了。