# 日期和时间数据类型及工具

In [1]:
from datetime import datetime

In [2]:
now = datetime.now()

In [3]:
now

datetime.datetime(2017, 8, 3, 19, 31, 48, 433549)

In [4]:
now.year, now.month, now.day

(2017, 8, 3)

In [5]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)

In [6]:
delta

datetime.timedelta(926, 56700)

In [7]:
delta.days

926

In [9]:
delta.seconds

56700

In [10]:
from datetime import timedelta

In [11]:
start = datetime(2011, 1, 7)

In [12]:
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

## 字符串和 datatime 的相互转换

In [17]:
stamp = datetime(2011, 1, 3)

In [18]:
str(stamp)

'2011-01-03 00:00:00'

In [19]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [20]:
stamp.strftime('%y-%m-%d')

'11-01-03'

In [16]:
datetime.time

In [21]:
value = '2011-01-03'

In [26]:
datetime.strptime('2011-01-03', '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [27]:
datestrs = ['7/6/2011', '8/6/2011']

In [28]:
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [29]:
from dateutil.parser import parse

In [30]:
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [31]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [32]:
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [33]:
datestrs

['7/6/2011', '8/6/2011']

In [35]:
import pandas as pd
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06', '2011-08-06'], dtype='datetime64[ns]', freq=None)

In [36]:
idx = pd.to_datetime(datestrs + [None])

In [37]:
idx

DatetimeIndex(['2011-07-06', '2011-08-06', 'NaT'], dtype='datetime64[ns]', freq=None)

In [38]:
type(idx)

pandas.tseries.index.DatetimeIndex

In [39]:
idx[2]

NaT

In [40]:
pd.isnull(idx)

array([False, False,  True], dtype=bool)

# 时间序列基础

In [47]:
import pandas as pd
import numpy as np
from datetime import datetime
from pandas import Series, DataFrame

In [43]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5), datetime(2011, 1, 7),
         datetime(2011, 1, 8), datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [48]:
ts = Series(np.random.randn(6), index=dates)

In [49]:
ts

2011-01-02   -1.452419
2011-01-05   -1.178974
2011-01-07    0.280868
2011-01-08   -1.249657
2011-01-10    0.145821
2011-01-12   -0.766982
dtype: float64

In [50]:
type(ts)

pandas.core.series.Series

In [51]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [52]:
ts + ts[::2]

2011-01-02   -2.904838
2011-01-05         NaN
2011-01-07    0.561735
2011-01-08         NaN
2011-01-10    0.291641
2011-01-12         NaN
dtype: float64

In [53]:
ts.index.dtype

dtype('<M8[ns]')

In [54]:
stamp = ts.index[0]

In [55]:
stamp

Timestamp('2011-01-02 00:00:00')

## 索引、选取、子集构造

In [56]:
stamp = ts.index[2]

In [57]:
ts[stamp]

0.28086763170739254

In [58]:
ts['1/10/2011']

0.14582067630188436

In [59]:
ts['20110110']

0.14582067630188436

In [71]:
longer_ts = Series(np.random.randn(1000),
                   index=pd.date_range('1/1/2000', periods=1000))

In [72]:
longer_ts.index

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08',
               '2000-01-09', '2000-01-10',
               ...
               '2002-09-17', '2002-09-18', '2002-09-19', '2002-09-20',
               '2002-09-21', '2002-09-22', '2002-09-23', '2002-09-24',
               '2002-09-25', '2002-09-26'],
              dtype='datetime64[ns]', length=1000, freq='D')

In [73]:
longer_ts.describe()

count    1000.000000
mean        0.010642
std         0.956556
min        -3.444437
25%        -0.643956
50%         0.004431
75%         0.648816
max         2.832119
dtype: float64

In [74]:
longer_ts['2001']

2001-01-01    0.345413
2001-01-02   -0.628658
2001-01-03    0.537751
2001-01-04   -0.712841
2001-01-05    0.312554
2001-01-06   -0.924954
2001-01-07    1.785790
2001-01-08    0.177666
2001-01-09   -0.520272
2001-01-10   -0.080126
2001-01-11    0.012210
2001-01-12   -0.636344
2001-01-13   -0.305612
2001-01-14    0.097509
2001-01-15    1.770535
2001-01-16   -0.952358
2001-01-17   -1.293697
2001-01-18    0.214520
2001-01-19    1.336832
2001-01-20    0.631098
2001-01-21   -0.598795
2001-01-22   -0.171660
2001-01-23   -1.798855
2001-01-24   -0.252433
2001-01-25    1.611823
2001-01-26   -0.923469
2001-01-27   -0.340710
2001-01-28    0.358723
2001-01-29   -0.442714
2001-01-30    0.057199
                ...
2001-12-02   -1.234854
2001-12-03    1.100312
2001-12-04   -0.745448
2001-12-05   -0.327067
2001-12-06    1.871233
2001-12-07    0.029768
2001-12-08   -0.826354
2001-12-09    1.690958
2001-12-10    0.273175
2001-12-11    0.609950
2001-12-12   -1.513166
2001-12-13    0.283014
2001-12-14   -0.157361
2001-12-15    0.037532
2001-12-16   -1.101603
2001-12-17    0.325711
2001-12-18   -0.689063
2001-12-19    1.949617
2001-12-20   -0.530499
2001-12-21    0.458891
2001-12-22   -1.996700
2001-12-23    0.815437
2001-12-24   -0.522007
2001-12-25    1.402046
2001-12-26   -0.198482
2001-12-27    1.237984
2001-12-28    0.102821
2001-12-29   -0.394668
2001-12-30    0.246295
2001-12-31    1.134056
Freq: D, dtype: float64

In [75]:
longer_ts['2001-05']

2001-05-01    0.271577
2001-05-02    0.404077
2001-05-03    1.981602
2001-05-04   -0.048563
2001-05-05   -0.087935
2001-05-06   -1.671938
2001-05-07    1.037248
2001-05-08   -0.614903
2001-05-09   -0.459979
2001-05-10    0.587691
2001-05-11    1.111248
2001-05-12   -1.369206
2001-05-13   -0.298962
2001-05-14   -0.643082
2001-05-15   -1.472155
2001-05-16   -1.658422
2001-05-17    0.095865
2001-05-18   -0.646577
2001-05-19    0.380892
2001-05-20    0.581797
2001-05-21    0.261530
2001-05-22   -0.334743
2001-05-23   -0.105539
2001-05-24   -0.096183
2001-05-25    1.884414
2001-05-26   -0.720595
2001-05-27   -0.939202
2001-05-28   -0.576148
2001-05-29    1.750706
2001-05-30    0.593946
2001-05-31   -0.926439
Freq: D, dtype: float64

In [77]:
ts[datetime(2011, 1, 7):]

2011-01-07    0.280868
2011-01-08   -1.249657
2011-01-10    0.145821
2011-01-12   -0.766982
dtype: float64

In [78]:
ts

2011-01-02   -1.452419
2011-01-05   -1.178974
2011-01-07    0.280868
2011-01-08   -1.249657
2011-01-10    0.145821
2011-01-12   -0.766982
dtype: float64

In [80]:
ts['1/6/2011': '1/11/2011']

2011-01-07    0.280868
2011-01-08   -1.249657
2011-01-10    0.145821
dtype: float64

In [81]:
ts.truncate(after='1/9/2011')

2011-01-02   -1.452419
2011-01-05   -1.178974
2011-01-07    0.280868
2011-01-08   -1.249657
dtype: float64

In [82]:
ts

2011-01-02   -1.452419
2011-01-05   -1.178974
2011-01-07    0.280868
2011-01-08   -1.249657
2011-01-10    0.145821
2011-01-12   -0.766982
dtype: float64

In [83]:
ts.truncate(after='1/11/2011')

2011-01-02   -1.452419
2011-01-05   -1.178974
2011-01-07    0.280868
2011-01-08   -1.249657
2011-01-10    0.145821
dtype: float64

In [84]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')

In [85]:
long_df = DataFrame(np.random.randn(100, 4),
                    index=dates,
                    columns=['Colorado', 'Texas', 'New York', 'Ohio'])

In [86]:
long_df.describe()

         Colorado       Texas    New York        Ohio
count  100.000000  100.000000  100.000000  100.000000
mean    -0.050028    0.117179   -0.106123   -0.104401
std      1.093492    0.898768    0.931915    1.024678
min     -2.636873   -1.940358   -2.634005   -2.768703
25%     -0.825869   -0.423743   -0.657307   -0.864686
50%     -0.103183    0.119356   -0.159671   -0.123605
75%      0.735619    0.598779    0.402274    0.524524
max      2.930127    2.213873    2.744763    2.594046

In [88]:
long_df.ix['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02  1.228664 -0.794369 -1.022144  1.446864
2001-05-09  0.096217  0.703806  0.307783 -0.278536
2001-05-16 -0.557065 -0.081772  0.686276 -1.043078
2001-05-23 -1.272334  1.278682 -0.468324  0.209968
2001-05-30 -0.106411 -0.638406 -0.635632 -0.541260

## 带有重复索引的时间序列

In [89]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000', '1/2/2000',
                          '1/3/2000'])

In [90]:
dup_ts = Series(np.arange(5), index=dates)

In [91]:
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int64

In [94]:
dup_ts.index.is_unique

False

In [96]:
dup_ts['1/3/2000']

4

In [97]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int64

In [98]:
grouped = dup_ts.groupby(level=0)

In [100]:
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int64

In [101]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64