# 日期的范围、频率以及移动

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from pandas import Series, DataFrame

In [2]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5), datetime(2011, 1, 7),
         datetime(2011, 1, 8), datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [3]:
ts = Series(np.random.randn(6), index=dates)

In [4]:
ts

2011-01-02    0.697438
2011-01-05    0.395168
2011-01-07   -0.457816
2011-01-08   -1.394525
2011-01-10   -0.200289
2011-01-12   -0.339711
dtype: float64

In [13]:
ts.resample('D')

DatetimeIndexResampler [freq=<Day>, axis=0, closed=left, label=left, convention=start, base=0]

In [14]:
ts.resample?

In [16]:
ts.resample('D').mean()

2011-01-02    0.697438
2011-01-03         NaN
2011-01-04         NaN
2011-01-05    0.395168
2011-01-06         NaN
2011-01-07   -0.457816
2011-01-08   -1.394525
2011-01-09         NaN
2011-01-10   -0.200289
2011-01-11         NaN
2011-01-12   -0.339711
Freq: D, dtype: float64

## 生成日期范围

In [17]:
index = pd.date_range('4/1/2012', '6/1/2012')

In [18]:
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [19]:
pd.date_range(start='4/1/2012', periods=100)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01', '2012-06-02', '2012-06-03',
               '2012-06-04', '2012-06-05', '2012-06-06', '2012-06-07',
               '2012-06-08', '2012-06-09', '2012-06-10', '2012-06-11',
               '2012-06-12', '2012-06-13', '2012-06-14', '2012-06-15',
               '2012-06-16', '2012-06-17', '2012-06-18', '2012-06-19',
               '2012-06-20', '2012-06-21', '2012-06-22', '2012-06-23',
               '2012-06-24', '2012-06-25', '2012-06-26', '2012-06-27',
               '2012-06-28', '2012-06-29', '2012-06-30', '2012-07-01',
               '2012-07-02', '2012-07-03', '2012-07-04', '2012-07-05',
               '2012-07-06', '2012-07-07', '2012-07-08', '2012-07-09'],
              dtype='datetime64[ns]', freq='D')

In [20]:
pd.date_range(end='6/1/2012', periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [23]:
pd.date_range('1/1/2000', '12/1/2000', freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [22]:
pd.date_range('1/1/2000', periods=5)

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05'],
              dtype='datetime64[ns]', freq='D')

In [26]:
pd.date_range?

In [27]:
help(pd.date_range)

Help on function date_range in module pandas.tseries.index:

date_range(start=None, end=None, periods=None, freq='D', tz=None, normalize=False, name=None, closed=None, **kwargs)
    Return a fixed frequency datetime index, with day (calendar) as the default
    frequency

    Parameters
    ----------
    start : string or datetime-like, default None
        Left bound for generating dates
    end : string or datetime-like, default None
        Right bound for generating dates
    periods : integer or None, default None
        If None, must specify start and end
    freq : string or DateOffset, default 'D' (calendar daily)
        Frequency strings can have multiples, e.g. '5H'
    tz : string or None
        Time zone name for returning localized DatetimeIndex, for example
    Asia/Hong_Kong
    normalize : bool, default False
        Normalize start/end dates to midnight before generating date range
    name : str, default None
        Name of the resulting index
    closed : string or None, default None
        Make the interval closed with respect to the given frequency to
        the 'left', 'right', or both sides (None)

    Notes
    -----
    2 of start, end, or periods must be specified

    To learn more about the frequency strings, please see `this link
    <http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases>`__.

    Returns
    -------
    rng : DatetimeIndex

In [28]:
pd.date_range('5/2/2000 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2000-05-02', '2000-05-03', '2000-05-04', '2000-05-05',
               '2000-05-06'],
              dtype='datetime64[ns]', freq='D')

## 频率和日期偏移量

In [30]:
from pandas.tseries.offsets import Hour, Minute

In [31]:
hour = Hour()

In [32]:
hour

In [34]:
four_hours = Hour(4)

In [35]:
four_hours

In [37]:
pd.date_range('1/1/2000', '1/3/2000 23:59', freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [38]:
Hour(2) + Minute(30)

In [39]:
pd.date_range('1/1/2000', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

### WOM 日期

In [40]:
rng = pd.date_range('1/1/2012', '9/1/2012', freq='WOM-3FRI')

In [41]:
rng

DatetimeIndex(['2012-01-20', '2012-02-17', '2012-03-16', '2012-04-20',
               '2012-05-18', '2012-06-15', '2012-07-20', '2012-08-17'],
              dtype='datetime64[ns]', freq='WOM-3FRI')

In [42]:
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

## 移动（超前和滞后）因子

In [43]:
ts = Series(np.random.randn(4),
            index=pd.date_range('1/1/2000', periods=4, freq='M'))

In [44]:
ts

2000-01-31   -0.459644
2000-02-29    0.429173
2000-03-31   -0.231593
2000-04-30   -0.495191
Freq: M, dtype: float64

In [45]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31   -0.459644
2000-04-30    0.429173
Freq: M, dtype: float64

In [46]:
ts.shift(-2)

2000-01-31   -0.231593
2000-02-29   -0.495191
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [49]:
ts / ts.shift(1) - 1

2000-01-31         NaN
2000-02-29   -1.933707
2000-03-31   -1.539626
2000-04-30    1.138201
Freq: M, dtype: float64

In [50]:
ts.shift(2, freq='M')

2000-03-31   -0.459644
2000-04-30    0.429173
2000-05-31   -0.231593
2000-06-30   -0.495191
Freq: M, dtype: float64

In [53]:
ts.shift(3, freq='D')

2000-02-03   -0.459644
2000-03-03    0.429173
2000-04-03   -0.231593
2000-05-03   -0.495191
dtype: float64

In [55]:
ts.shift(1, freq='3D')

2000-02-03   -0.459644
2000-03-03    0.429173
2000-04-03   -0.231593
2000-05-03   -0.495191
dtype: float64

In [56]:
ts.shift(1, freq='90T')

2000-01-31 01:30:00   -0.459644
2000-02-29 01:30:00    0.429173
2000-03-31 01:30:00   -0.231593
2000-04-30 01:30:00   -0.495191
Freq: M, dtype: float64

### 通过偏移量对日期进行处理

In [58]:
from pandas.tseries.offsets import Day, MonthEnd

In [59]:
now = datetime(2011, 11, 17)

In [67]:
now

datetime.datetime(2011, 11, 17, 0, 0)

In [60]:
now + 3 * Day()

Timestamp('2011-11-20 00:00:00')

In [61]:
now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [62]:
now + MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [63]:
offset = MonthEnd()

In [65]:
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [66]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [69]:
ts = Series(np.random.randn(20),
            index=pd.date_range('1/5/2000', periods=20, freq='4d'))

In [70]:
ts

2000-01-05    0.836266
2000-01-09    0.331501
2000-01-13   -0.620968
2000-01-17    0.411796
2000-01-21   -0.769908
2000-01-25    0.202292
2000-01-29   -1.013171
2000-02-02    0.449488
2000-02-06   -1.610042
2000-02-10    3.078566
2000-02-14   -1.826082
2000-02-18    0.602678
2000-02-22    1.487083
2000-02-26    0.675810
2000-03-01   -0.283516
2000-03-05    1.305681
2000-03-09    0.641708
2000-03-13    2.054641
2000-03-17    0.180531
2000-03-21    1.045491
Freq: 4D, dtype: float64

In [72]:
ts.groupby(offset.rollforward).mean()

2000-01-31   -0.088885
2000-02-29    0.408215
2000-03-31    0.824089
dtype: float64

In [74]:
ts.resample('M', how='mean')

/Users/wonderful/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).mean()
  if __name__ == '__main__':

2000-01-31   -0.088885
2000-02-29    0.408215
2000-03-31    0.824089
Freq: M, dtype: float64